#shipment-reports{data: {shipments_url: amazon_shipments_path,
                         reports_url: ship_product_reports_path }}
  .row
    .col-lg-12.ship-message-box
      .alert{'v-show': 'message.visible', ':class': '"alert-" + message.type' }
        %button.close{'@click': 'message.visible = false'} ×
        %span {{message.text}}
  .row.toolbox.unprintable
    .col-lg-12
      %items-cases-selector{":state": 'shippingState',
        ":default-type": 'shipmentType',
        "@shipment-type-change": 'changeShipmentType'}

      .group.js-filter
        %select.js-warehouse.form-control{"v-model": 'selectedWarehouse'}
          %option{":value": "{id: null, name: 'all' }"} All warehouses
          - @presenter.warehouses.each do |w|
            %option{":value": "{ id: #{w.id}, name: '#{w.name}'}"}
              = w.name

      .group.js-ship-panel
        %shipment-panel{"v-show": "shipmentPanelVisible",
          ":active-shipments": "warehouseShipments",
          ":warehouse": "selectedWarehouse",
          "@shipped": "ship" }
  .row
    .col-lg-12
      %reports-table{":reports-data": "reportsData",
        ':shipment-type': 'shipmentType',
        ':is-admin': 'isAdmin',
        ':selected-warehouse': 'selectedWarehouse',
        '@fetch-reports': 'fetchReports' }
