@import "variables_and_mixins";

// Panel styles
.panel {
  .panel-heading {
    ul.actions {
      display: flex;
      align-items: center;

      margin: 0;
      li {
        margin: 0 0 0 20px;
        padding: 0;
      }
    }
  }
}

// Product icon + title + Fnsku as on Batches#index and Products#index#ship
.icon-and-info {
  .image, .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
  }

  .image {
    text-align: center;
    float: left;
    width: 50px;
    img {
      max-height: 50px;
      max-width: 50px;
    }
  }

  .info {
    margin-left: 55px;
    text-align: left;
    p { margin: 0; }
  }
}

.js-messagebox.alert {
  display: none;
  margin-bottom: 10px;
}

// overriding default Bootstrap style for popovers
.popover {
  max-width: 500px;
}
