@import "variables_and_mixins";

.js-in-place-editable {
  display: inline;
  .js-edit-link {
    @include clickable-text;
  }

  .error-box {
    color: $red;
    max-width: 100%;
  }

  form {
    display: none;

    .form-group {
      margin: 0;
      input { text-align: center; }
      label { display: none; }
    }
  }
}


