@import "variables_and_mixins";

.alert { margin-bottom: 0; }

#page-wrapper { padding-top: 20px; }

.thumbnail {
  border: none;
  border-radius: 0;
}

// --- --- Page header
.page-header {
  margin-top: 0px;
  margin-bottom: 20px;

  h1 {
    margin: 5px 0;
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
    margin: 5px 0;
  }

  .header-content {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
  }

  .zone-label {
    font-size: 16px;
  }
}
