@import "variables_and_mixins";

// --- --- Top navbar
nav {
  .navbar-header .navbar-brand {
    width: 250px;
  }

  @media(max-width:768px) {
    &.zone { float: left; }
  }

  .navbar-nav li a {
    background-color: transparent;
  }

  .navbar-nav.shortcuts li {
    min-width: 100px;
    text-align: center;

    &.tasks.active a, &.tasks a:hover { background-color: #ddd; }

    &.zone-make a { color: $zone-make; }
    &.zone-make.active a, &.zone-make a:hover { background-color: $zone-make; }
    &.zone-pack a { color: $zone-pack; }
    &.zone-pack.active a, &.zone-pack a:hover { background-color: $zone-pack; }
    &.zone-ship a { color: $zone-ship; }
    &.zone-ship.active a, &.zone-ship a:hover { background-color: $zone-ship; }
    &.zone.active a, &.zone a:hover { color: white; }

    @media(max-width:768px) {
      & { float: left; }
    }
  }

  .navbar-nav.navbar-right {
    margin-right: 10px;
  }
}

.navbar-default .navbar-nav > li > a { color: $link-blue; }


// --- --- Sidebar
.sidebar-nav {
  ul li a.active {
    background-color: #ddd;
  }

  li.zone.zone-make {
    & > a.active,
    & > a:hover { color: $zone-make; }
  }
  li.zone.zone-pack {
    & > a.active,
    & > a:hover { color: $zone-pack; }
  }
  li.zone.zone-ship {
    & > a.active,
    & > a:hover { color: $zone-ship; }
  }
}

@media(min-width:768px) {
  .sidebar { margin-top: 0; }
}
