@import "variables_and_mixins";

// --- --- Generic table styles
table.table {
  width: auto;

  thead > tr > th {
    border-bottom-width: 1px;
  }
  thead > tr > th,
  tbody > tr > td {
    padding: 8px 15px;
  }

  tr.total td, td.total {
    border-top: 1px solid $almost-black;
  }
}

table {
  width: auto;
  &.full-width { width: 100%; }

  th, td {
    p { margin: 0; }
  }

  .progress {
    margin: 5px 0 0;
  }

  thead.light th {
    color: $gray;
    font-weight: normal;
    border-top: none;
    vertical-align: bottom;
  }

  thead, tbody {
    tr.no-border th, tr.no-border td,
    th.no-border, td.no-border {
      border-top: none;
      border-bottom: none;
    }
  }
}

// --- --- Tables used on index pages
table.index-table {
  th { text-align: center; }
  th, td.index {
    font-weight: bold;
    font-size: 12px;
  }

  tbody tr td {
    vertical-align: middle;
    text-align: center;
    &.text-left  { text-align: left; }
    &.text-right { text-align: right; }
  }

  td.checkbox-inside {
    label { display: none; }
  }

}

// --- --- Tables used on Details pages
table.model-fields {
  tr, th, td {
    border: none;
    vertical-align: top;
  }

  td:first-child { text-align: left; }
  td:last-child {
    text-align: right;
    input { float: right; }
  }

  td { padding: 8px 10px; }
  &.condensed td { padding: 3px 8px; }
}

// --- --- Separator (divider)
table tbody {
  tr.separator {
    border-bottom: 1px solid $blue;

    td {
      padding-top: 16px;
      padding-bottom: 3px;
      border-top: none;
      &:first-child { text-align: left !important; }
    }

    span.header {
      font-size: 16px;
      color: $blue;
    }
  }
}

// Table inside a popover
.popover table {
  margin-bottom: 0;
  tr th { border-top: none; }
}

// --- --- Other
table {
  .label.status-badge {
    display: block;
    padding: 4px;
  }
}
