@import "variables_and_mixins";

// --- --- Common tab styling
ul.nav.nav-tabs {
  margin-bottom: 30px;

  li {
    a:hover, a.active {
      background-color: white;
      border-bottom-color: transparent;
    }

    &.active a,
    &.active a:hover {
      border-top: 3px solid $light-blue;

      &.zone-make {
        border-top-color: $zone-make;
        color: $zone-make;
      }
      &.zone-pack {
        border-top-color: $zone-pack;
        color: $zone-pack;
      }
    }
  }
}


// --- --- Common pill styling
ul.nav-pills {
  margin-bottom: 20px;
  &.small a { padding: 5px 10px; }
}
