@import "variables_and_mixins";

.urgency-red {
  &.urgency-border, .urgency-border { border-color: $urgency-red; }
  &.urgency-background, .urgency-background { background-color: $urgency-red; }
  &.urgency-color, .urgency-color { color: $urgency-red; }
}

.urgency-yellow {
  &.urgency-border, .urgency-border { border-color: $urgency-yellow; }
  &.urgency-background, .urgency-background { background-color: $urgency-yellow; }
  &.urgency-color, .urgency-color { color: $urgency-yellow; }
}

.urgency-green {
  &.urgency-border, .urgency-border { border-color: $urgency-green; }
  &.urgency-background, .urgency-background { background-color: $urgency-green; }
  &.urgency-color, .urgency-color { color: $urgency-green; }
}

.urgency-background {
  color: white;
  font-weight: bold;
}
