@import "variables_and_mixins";

.gray, .grey { color: $gray; }
.light-gray, .light-grey { color: $mid-gray; }
.red { color: red; }
.green { color: green; }
.background-gray { background-color: $light-gray }
.highlighted {background-color: #FFFFB8}
.error-overflow {background-color: #FF0000;}
.bold { font-weight: bold; }
.italic { font-style: italic; }
.line-through { text-decoration: line-through; }
.font-large  {font-size: 18px;}
.font-medium {font-size: 16px;}

.hidden { display: none; }

.block-centered { margin: 0 auto; }

.clickable-text { @include clickable-text; }

span.badge { background-color: $blue; }
span.badge.inverted {
  background-color: transparent;
  border: 1px dotted $blue;
  color: $blue;
}
span.badge.light { font-weight: normal; }
span.label.label-info.inverted {
  background-color: transparent;
  border: 1px dotted #5bc0de;
  color: #5bc0de;
}

.pointer {
  cursor: pointer;
}

.width-50  { width: 50px; }
.width-70  { width: 70px; }
.width-80  { width: 80px; }
.width-100 { width: 100px; }
.width-120 { width: 120px; }
.width-150 { width: 150px; }
.width-170 { width: 170px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.width-350 { width: 350px; }
