<template lang="pug">
  div
    highcharts(:options="options")
</template>

<script>

export default {
  props: ['materialId'],
  data: function() {
    return {
      options: this.defaultChartData()
    }
  },
  mounted() {
    this.loadChartData()
  },
  methods: {
    defaultChartData() {
      return {
        chart: {
          type: 'line'
        },
        title: {
          text: 'Material cost over time'
        },
        legend: {
          layout: 'vertical'
        },
        tooltip: {
          formatter: function() {
            return `<b>Date: ${this.x}</b>
                    <br>
                    Unit price: $${this.y}`
          }
        },
        xAxis: {
          categories: []
        },
        yAxis: {
          title: 'Price per unit',
          min: 0,
          labels: {
            formatter: function() {
              return `$${this.value}`
            }
          }
        },
        series: []
      }
    },
    loadChartData() {
      const url = `/materials/${this.materialId}/charts/cost_over_time.json`
      this.$http.get(url).
        then(response => {
          const data = response.data
          const chartOptions = this.defaultChartData()
          this.options.series = data.series
          this.options.xAxis.categories = data.days
        })
    }
  }
}
</script>

