= render 'products/show_header', product_presenter: @presenter

#product-page
  .row
    .col-sm-12
      = bootstrap_form_for @presenter.product, url: product_note_path(@presenter.product), label_errors: true do |f|
        = f.text_area :notes, rows: 15, hide_label: true, class: "wysiwyg"

        = form_actions(f)
