= render 'products/show_header', product_presenter: @presenter

#product-page
  .actions
    = link_to 'Edit', edit_product_note_path(@presenter.product), class: 'btn btn-primary pull-right'

  #product-notes
    .notes
      = markdown @presenter.notes
