=render 'materials/show_header', material_presenter: @presenter

.row
  .col-lg-4.col-md-5
    .panel.panel-default
      .panel-heading
        Inventory and Forecast
      .panel-body
        %table.model-fields.block-centered.full-width
          %tr
            %td Inventory:
            %td= @presenter.inventory_quantity_with_unit
          %tr
            %td Demand:
            %td= @presenter.demand_with_unit
          %tr
            %td Coverage:
            %td
              .width-120.pull-right
                = render 'inventory_items/demand_coverage_indicator', presenter: @presenter.inventory_item_presenter
          %tr
            %td To purchase:
            %td= @presenter.to_purchase_with_unit
          %tr
            %td Vendor lead time:
            %td
              - @presenter.vendor_presenters.each do |vendor_presenter|
                %p= vendor_presenter.name_with_lead_time

  .col-lg-5.col-md-6
    .panel.panel-default
      .panel-heading
        Demand Details
      .panel-body
        %table.table.table-hover.full-width
          %tbody
            - @presenter.demand_breakdown.each do |product, demand|
              %tr
                %td.text-left= link_or_text product, current_user.admin?, product.name
                %td.text-right= with_unit demand, @presenter.unit_name
            %tr.total
              %td.text-right Total:
              %td.text-right= @presenter.demand_with_unit
