@import 'variables_and_mixins';

.show-product-inventory {
  table {
    width: 100%;
    margin-bottom: 0;
    margin-top: -10px;
    tr:first-child td { border-top: none; }
    td.cost-header {
      text-align: right;
      color: $gray;
    }
    tr.days-of-cover td {
      border-top: none;
      padding-top: 20px;
    }
    tr.total {
      font-weight: bold;
      td:first-child { font-weight: normal; }
    }
  }
}

.show-production-forecast {
  table.properties {
    margin-top: 5px;
    td { padding: 3px 5px; }
  }

  table.forecast {
    width: 100%;
    th {
      font-weight: normal;
      background-color: transparent;
      font-size: 14px;
    }
  }

  .demand-breakdown {
    margin-top: 40px;

    .header { margin-bottom: 5px; }

    table {
      td {
        padding: 5px;
        &:last-child { text-align: right; }
        span::after { content: ':'; }
      }
      tr.total td { border-top: 1px solid $almost-black; }
    }
  }
}

.show-financials {
  table {
    margin-top: 2px;
    width: 100%;

    td {
      padding: 5px;
      &:last-child { text-align: right; }
    }
  }
}

.show-product-ingredients {
  thead th {
    vertical-align: top;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  tr.total td { padding-bottom: 20px; }
}
