.js-new-task-form.modal.fade{ role: "dialog", tabindex: "-1" }
  .modal-dialog.modal-sm{ role: "document" }
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal"} }
          %span ×
        %h4.modal-title Assign Task
      .modal-body
        = bootstrap_form_for presenter.new_task_form do |f|
          .error.alert.alert-danger{ 'v-show': 'newTaskForm.error' } {{ newTaskForm.error }}
          = f.hidden_field :inventory_item_id, class: 'js-ii-id', "v-model": 'newTaskForm.inventoryItemId'
          = f.collection_select :user_id, presenter.assignable_users, :id, :display_name
          = f.number_field :quantity_in_zone_units, label: "Quantity", append: presenter.zone_unit_name, class: 'js-quantity', "v-model": 'newTaskForm.quantity'
          = f.text_field :date, data: { :provide => "datepicker", "date-today-highlight" => true }
      .modal-footer
        %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel
        %button.btn.btn-primary.js-save{ type: "button", "@click.prevent": "newTaskForm.submit()" } Save
