%td.text-left
  = link_or_text ii_presenter.product, current_user.admin?, ii_presenter.product.name
%td.days-of-cover.urgency-color.bold= ii_presenter.product_days_of_cover_hint
%td= ii_presenter.current_inventory_in_main_units
%td= ii_presenter.to_cover_in_main_units
%td= ii_presenter.can_cover_in_main_units
%td= duration ii_presenter.production_time_estimate, include_seconds: false

%td
  -if ii_presenter.assigned.positive?
    - tasks_content = render('planning/tasks', ii_presenter: ii_presenter)
    %span.clickable-text{ data: { toggle: 'popover', content: tasks_content }, role: 'button', tabindex: '0' }
      = ii_presenter.assigned_in_main_units

%td.status
  -if ii_presenter.production_plan_fully_supplied? && ii_presenter.production_fully_assigned?
    %span.label.label-success
      %i.fa.fa-check
      Managed
  -unless ii_presenter.production_fully_assigned?
    %span.label.label-warning Unassigned
  -unless ii_presenter.production_plan_fully_supplied?
    %span.label.label-info{ title: ii_presenter.deficit_ingredient_hint } Low materials
