- collection_presenter.inventory_item_presenters.each_with_index do |ii_presenter, index|
  %tr{ class: ii_presenter.urgency_css_class, data: {'ii-id': ii_presenter.inventory_item_id} }
    %td.index= index + 1
    = render 'record', ii_presenter: ii_presenter
    %td.assign
      %a{ href: '#',
        "v-on:click.prevent": "newTaskForm.show(#{ii_presenter.inventory_item_id}, #{ii_presenter.unassigned_in_main_units})" }
        Assign



