.row
  .col-md-12
    %ul.nav.nav-pills.small
      %li{ class: presenter.filter_css_class(:unassigned) }
        = link_to 'Unassigned', { status: :unassigned }
      %li{ class: presenter.filter_css_class(:low_supply) }
        = link_to 'Low Materials', { status: :low_supply }
      %li{ class: presenter.filter_css_class(:managed) }
        = link_to 'Managed', { status: :managed }
      %li{ class: presenter.filter_css_class(:all) }
        = link_to 'All', { status: :all }
