.row
  .col-md-12
    %ul.nav.nav-tabs
      = tab 'Make', planning_make_path, link_options: { class: 'zone-make' }
      = tab 'Pack', planning_pack_path, link_options: { class: 'zone-pack' }
      = tab 'Workload', planning_workload_path
