%table.table.index-table.tasks
  %tr
    %th
    %th Date
    %th Time
    %th Planned
  - ii_presenter.current_tasks_presenters.each do |task_presenter|
    %tr
      %td= task_presenter.user_nickname
      %td= task_presenter.date
      %td= duration task_presenter.duration_estimate, include_seconds: false
      %td= task_presenter.quantity_in_zone_units
