#production-planning
  = render 'new_task_form', presenter: presenter
  = render 'tabs'
  = render 'status_pills', presenter: presenter

  = index_table 'js-production-planning js-reports' do
    %thead
      %tr
        %th
        %th Name
        %th.width-100
          %p Days
          %p of cover
        %th.width-100
          %p Inventory,
          %p= presenter.zone_unit_name
        %th.width-100
          %p Demand,
          %p= presenter.zone_unit_name
        %th.width-100
          %p Production allocation,
          %p= presenter.zone_unit_name
        %th.width-100 Time estimate, hh:mm
        %th.width-100
          %p Planned,
          %p= presenter.zone_unit_name
        %th.width-120 Status
        %th.assign
    %tbody
      = render 'records', collection_presenter: presenter

