= render 'tabs'

= index_table do
  %thead
    %tr
      %th
      - workload.users.each do |user|
        %th.width-120= user.nickname
  %tbody
    - workload.dates.each do |date|
      %tr
        %td.index.text-right= date&.to_s(:long)
        -workload.users.each do |user|
          %td= duration workload.workload_for(date, user.id), include_seconds: false
