= page_header 'Inventory Health'

.row
  .col-lg-12
    = index_table 'inventory-health-report' do
      %thead
        %tr
          %th{ rowspan: 2 }
          %th{ rowspan: 2 } Name
          %th{ rowspan: 2 } Brand
          %th.width-80{ rowspan: 2 } Size
          %th{ rowspan: 2 } COGS
          %th{ colspan: 2 } Labor cost
          %th.width-100{ rowspan: 2 } COGS change %
          %th.width-100{ rowspan: 2 } COGS change %, 52 weeks
          %th{ rowspan: 2 } Sale price
          %th{ rowspan: 2 } Profit
          %th{ rowspan: 2 } Gross margin
          %th{ rowspan: 2 } ROI
          %th{ rowspan: 2 } Prod. buffer, days
        %tr
          %th= zone_label(Zone.make_zone)
          %th= zone_label(Zone.pack_zone)
      %tbody
        -@presenters.each_with_index do |presenter, index|
          %tr
            %td.grey= index + 1
            %td.text-left= link_or_text presenter.product, current_user.admin?, presenter.product_name
            %td Kis Oils
            %td= presenter.product_size
            %td= number_to_currency presenter.prime_cost
            %td= number_to_currency presenter.make_labour_cost
            %td= number_to_currency presenter.pack_labour_cost
            %td= dynamics presenter.prime_cost_change_percent, precision: 2
            %td= dynamics presenter.prime_cost_annual_change_percent, precision: 2
            %td= number_to_currency presenter.selling_price
            %td= number_to_currency presenter.profit
            %td= presenter.gross_margin
            %td= presenter.roi
            %td= presenter.production_buffer_days


