= page_header 'P&L Report'

.row
  .col-lg-12
    = index_table 'profit-and-loss-report' do
      %thead
        %tr.totals
          %td
          %td
          %td.value
            %p.small Total
            %p.font-large
              = integer_with_delimiter @totals_presenter.total_inventory
          %td.value
            %p.small Average
            %p.font-large
              = number_to_currency @totals_presenter.average_selling_price
          %td.value
            %p.small Total
            %p.font-large
              = number_to_currency @totals_presenter.total_inventory_price, precision: 0
          %td.value
            %p.small Total
            %p.font-large
              = number_to_currency @totals_presenter.total_inventory_cogs, precision: 0
          %td.value
            %p.small Total
            %p.font-large
              = number_to_currency @totals_presenter.total_inventory_profit, precision: 0
          %td.value
            %p.small Total
            %p.font-large
              = integer_with_delimiter @totals_presenter.total_reserved
          %td.value
            %p.small Total
            %p.font-large
              = number_to_currency @totals_presenter.total_reserved_quantity_profit, precision: 0
        %tr.separator
          %td
        %tr
          %th
          %th Name
          %th Inventory
          %th Selling Price
          %th Value
          %th COGS
          %th Net Profit
          %th 24 Hr Unit Sales
          %th 24 Hr Net Profit
      %tbody
        -@totals_presenter.stats_presenters.each_with_index do |stats_presenter, index|
          %tr
            %td.grey= index + 1
            %td.text-left= link_or_text stats_presenter.product, current_user.admin?, stats_presenter.product_name
            %td= integer_with_delimiter stats_presenter.total_inventory
            %td= number_to_currency stats_presenter.selling_price
            %td= number_to_currency stats_presenter.total_inventory_price
            %td= number_to_currency stats_presenter.total_inventory_cogs
            %td= number_to_currency stats_presenter.total_inventory_profit
            %td= integer_with_delimiter stats_presenter.reserved
            %td= number_to_currency stats_presenter.reserved_quantity_profit


