// --- --- Batches index page
table.batch-list {
  th.notes { width: 30%; }
}

// --- --- Batches Edit page
.batch-edit {
  // styles to go here
}


// --- --- Batch Details page
.batch-card {
  width: 250px;
  .quantity {
    .number { font-size: 36px; }
    margin: 0 -15px 20px;
    padding: 5px 15px 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .task {
    border-top: 1px solid #ccc;
    margin: 15px -15px 0;
    padding: 25px 15px 10px;
    text-align: center;
  }
}
