.action-selector {
  margin-bottom: 15px;
}

.component-select-box {
  margin-top: 15px;

  .form-group {
    margin-bottom: 0;
  }
}

.danger-zone {
  .notice {
    margin-top: 10px;
  }
}

.inventory-item-image {
  height: 50px;
}

