@import "variables_and_mixins";

// --- --- --- --- #index page

// --- --- --- --- #show page
.status-badge {
  .js-status-badge {
    margin: 4px 0 10px;
    .label.status-badge { font-size: 14px; }
  }
  p { margin: 0; }
}

.panel.attachment {
  .panel-body { padding: 0; }
  .filepicker-preview { height: 250px; }
}

.invoice-line-items {
  margin-bottom: 50px;
}
