@import "variables_and_mixins";

// --- --- Material #show
.material-details-header {
  margin-top: 20px;
}

.panel.ordering-sizes {
  ul li {
    margin-bottom: 16px;
    margin-top: 8px;
  }
}

// --- --- Materials - purchase tab
.toolbox {
  .js-purchase-panel { display: none; }
}

table.materials-purchase {
  // styles will go here
}

li.attachment-preview {
  margin: 0 5px;
  height: 200px;
  border-radius: 15px;
  padding:20px;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    border: 1px solid #0099CC;
    .delete-icon {
      visibility: visible;
    }
  }

  .delete-icon {
    visibility: hidden;
    position: absolute;
    width: 20px;
    right: 10px;
    top: 5px;
    font-size: 18px;

    &:hover {
      color: #d50000;
    }
  }
}

.add-new-attachment {
  display: inline-block;
  height: 150px;
  vertical-align: middle;

  font-size: 20px;

  .add-icon {
    cursor: pointer;
    font-size: 120px;
    font-weight: bold;
    color: #33b5e5;

    &:hover {
      color: #0099CC;
    }
  }
}


// --- --- Material form
form.material {
  .remove_nested_fields_link {
    display: block;
    width: 10%;
    float: left;
    margin-top: 5px;
    padding-left: 5px;
  }
  .control-group.vendor {
    float: left;
    width: 90%;
  }
}
