@import "variables_and_mixins";

#production-planning {
  .js-new-task-form {
    .modal-dialog {
      max-width: 300px;
      margin: 10px auto;

      form .error {
        margin-bottom: 10px;
      }
    }
  }

  table.js-production-planning {
  }
}
