@import "variables_and_mixins";

// --- --- Profit and Loss
table.profit-and-loss-report {
  border: none;

  tr.separator {
    &, td { border: none; }
    td { padding: 10px; }
  }

  tr.totals {
    &, td { border: none; }

    td.value {
      text-align: center;
      color: $dark-cyan;
      padding: 7px 25px;
      border: 1px dashed $light-cyan;
    }
  }
}
