@import "variables_and_mixins";

table.settings {
  .progress {
    height: 30px;
    width: 450px;
    .progress-bar {
      font-weight: bold;
      line-height: 30px;
      padding: 0 5px
    }
  }
}
