@import "variables_and_mixins";

// warehouse select
.toolbox {
  margin-bottom: 20px;
  select { width: auto; }

  .group {
    float: left;
    margin: 0 20px 0 0;

    select, input, a {
      float: left;
      margin: 0 0 3px 5px;
    }
  }

  .js-ship-panel {
    min-width: 400px;
  }

  .js-items-cases-toggler {
    margin-bottom: 10px;
  }
}

table.product-list {
}

.reports-pagination {
  display: none;
}

.reports-loader {
  text-align: center;
  margin-bottom: 20px;
  i {
    font-size: 32px;
    color: #5bc0de;
  }
}
