.row
  .col-lg-5.col-md-8.col-sm-12
    = bootstrap_form_for presenter.invoice, label_errors: true do |f|
      .row
        .col-xs-6.control-group
          = f.text_field :number
        .col-xs-6.control-group
          = f.text_field :date_str, label: 'Date', class: 'datepicker'

      -unless presenter.locked?
        .row
          .col-xs-12.control-group
            = f.collection_select :vendor_id, presenter.vendors_for_selection, :id, :name, include_blank: true

      .row
        .col-xs-12.control-group
          = f.text_area :notes, rows: 5, placeholder: 'Notes'

      -unless presenter.locked?
        .row
          .col-xs-12
            %p Fees

        = f.nested_fields_for :fees do |p|
          .row
            .col-xs-7.control-group
              = p.text_field :name, hide_label: true, class: 'text-right',
                prepend: p.remove_nested_fields_link
            .col-xs-5.control-group
              = price_field p, :price, hide_label: true
        .row
          .col-sm-12
            = f.add_nested_fields_link :fees do
              %i.fa.fa-plus-circle
              Add fee

        .row
          .col-xs-5.col-xs-offset-7.control-group
            = price_field f, :total_price, label: 'Total'

      = form_actions(f)
