.row
  .col-md-12
    .pull-right
      %br
      %select.js-date-range-selector.form-control
        %option{value: '6'}
          Last 6 months
        %option{value: '12', selected: true}
          Last 12 months
        %option{value: '18'}
          Last 18 months
      %br
.row
  .col-lg-6.col-md-12
    #invoices-vendors-pie-chart
  .col-lg-6.col-md-12
    #invoices-series-chart


