.row
  .col-lg-12
    = index_table 'invoices' do
      %thead
        %th Invoice
        %th Order Date
        %th Received Date
        %th Vendor
        %th Total
        %th Status
        %th Materials
      %tbody
        - invoice_presenters.each do |presenter|
          %tr
            %td.text-left= link_to presenter.invoice_number, presenter.invoice
            %td= presenter.date
            %td= presenter.received_date
            %td.text-left= presenter.vendor_name
            %td.text-right= number_to_currency presenter.total_price
            %td= invoice_status(presenter.invoice)
            %td.text-left= presenter.materials_summary
