.row.invoice-line-items
  .col-lg-12
    .panel.panel-default
      .panel-heading
        -unless invoice_presenter.locked?
          %ul.actions.list-inline.list-unstyled.pull-right
            %li= link_to 'Add item', new_invoice_item_path(invoice_presenter.invoice), class: 'pull-right add-invoice-item'
            %li= link_to 'Edit fees', edit_invoice_path(invoice_presenter.invoice)
        Line Items

    %table.table.table-hover.index-table.full-width.invoice-items
      %thead
        %tr
          %th Material
          %th Ordering unit
          %th.width-100 Ordering unit price
          %th Quantity
          %th Total amount
          %th Total price
          %th Unit price
          %th Change
          %th Lot #
          %th Expiration Date
          %th Received on
          %th
      %tbody
        - invoice_presenter.invoice_item_presenters.each do |presenter|
          = render 'invoice_item', presenter: presenter, invoice_presenter: invoice_presenter

        %tr.no-border
          %td{ colspan: 12 } &nbsp;

        - invoice_presenter.fees.each do |item|
          %tr.no-border
            %td.text-right{ colspan: 5 }= "#{item.name}:"
            %td.text-right= number_to_currency item.price
            %td{ colspan: 6 }

        %tr.no-border
          %td{ colspan: 12 } &nbsp;

        %tr.bold
          %td.no-border{ colspan: 4 }
          %td.total.text-right
            %p Total:
            -unless invoice_presenter.total_price_matching?
              %p.red Expected:
          %td.total.text-right
            %p= number_to_currency invoice_presenter.total_item_price
            -unless invoice_presenter.total_price_matching?
              %p.red= number_to_currency invoice_presenter.total_price
          %td.no-border{ colspan: 6 }
