%tr
  %td.text-left
    %p=link_to presenter.material_name, presenter.material
    %p= presenter.external_name
  %td
    -unless presenter.in_material_units?
      %p= presenter.pkg_amount_in_pkg_units
    %p= presenter.amount_in_material_units
  %td.text-right= number_to_currency presenter.price
  %td= presenter.quantity
  %td= presenter.total_material_amount
  %td.text-right= number_to_currency presenter.total_price
  %td.text-nowrap= number_to_currency presenter.material_unit_price
  %td.text-left= dynamics presenter.price_change_percent
  %td= presenter.lot_number
  %td= presenter.expiration_date
  %td
    -if presenter.received?
      = presenter.received_date
    -elsif invoice_presenter.total_price_matching?
      = link_to 'Receive', '#', class: 'js-item-received unprintable',
        data: { 'invoice-id' => presenter.invoice_id, 'invoice-item-id' => presenter.invoice_item_id }
  %td= link_to 'Edit', edit_invoice_item_path(presenter.invoice, presenter.item), class: 'unprintable'

