= page_header do
  = link_to 'New', new_invoice_path, class: 'btn btn-primary pull-right'
  %h1
    %i.fa.fa-file-text-o
    Invoices


.js-invoices-content.invoices-page
  .chart
    = render 'invoices_chart_view'
  .table-view
    = render 'invoices_list_view', invoice_presenters: @presenters
