= page_header do
  = link_to 'Edit', edit_invoice_path(@presenter.invoice), class: 'pull-right btn btn-primary'
  %h1
    %i.fa.fa-file-text-o
    ="Invoice ##{@presenter.invoice_number}"
  %h2= "#{@presenter.date} - #{@presenter.vendor_name}"

.row
  .col-lg-4.col-md-6
    .panel.panel-default.status-badge
      .panel-heading
        Status
      .panel-body
        .js-status-badge
          -if @presenter.display_paid_button?
            = link_to 'Mark as paid', paid_invoice_path(@presenter.invoice),
              method: :patch, data: { confirm: "Are you sure?" },
              class: 'btn btn-default pull-right'
          = invoice_status @presenter.invoice
        .clearfix
        %p= @presenter.status_tip

  .col-lg-4.col-md-6
    .panel.panel-default
      .panel-heading
        Notes
        = link_to 'Edit', edit_invoice_path(@presenter.invoice), class: 'pull-right'
      .panel-body= @presenter.notes

  .col-lg-4.col-md-6.unprintable
    .panel.panel-default.attachment
      .panel-heading
        .pull-left Attachment
        %ul.actions.list-inline.list-unstyled.pull-right
          - if @presenter.attachment?
            %li= icon_link_to 'Delete', '#', 'trash-o', class: 'js-delete-attachment pull-right'
          %li= icon_link_to @presenter.attachment_button_text, '#', 'cloud-upload', class: 'js-upload-attachment pull-right'
          - if @presenter.preview_url
            %li= icon_link_to "Full size", @presenter.preview_url, 'arrows-alt', target: '_blank', class: "show-full-size pull-right"
        .clearfix
      .panel-body
        .invoice-media
          .js-uploader-init{data: {invoice_id: @presenter.invoice_id, api_key: @presenter.filestack_api_key}}
            .js-attachment-preview{data: {attachment_url: @presenter.attachment_url}}

= render 'invoice_items', invoice_presenter: @presenter

