.row
  .col-md-4.col-sm-6
    = bootstrap_form_for presenter.task_form do |f|
      = f.hidden_field :inventory_item_id
      = f.collection_select :user_id, presenter.users_for_selection, :id, :display_name
      = f.number_field :quantity_in_zone_units, label: 'Quantity'
      = f.text_field :date, data: { :provide => "datepicker", "date-today-highlight" => true }
      = form_actions(f)
