.panel.panel-default.task-card.card.finished
  .panel-body
    .quantity
      .number= task_presenter.batch_number
      .unit= task_presenter.zone_unit_name
    .block
      %table.model-fields.full-width
        %tr
          %td Demand:
          %td= task_presenter.aimed_quantity_with_unit
        %tr
          %td Under/Over:
          %td= percent task_presenter.coverage
    .details.block
      %table.model-fields.full-width
        %tr
          %td Target date:
          %td= task_presenter.date
        %tr
          %td Actual date:
          %td= task_presenter.started_at&.to_date
        %tr
          %td Estimated duration:
          %td= duration task_presenter.duration_estimate, include_seconds: false
        %tr
          %td Actual duration:
          %td= duration task_presenter.duration, include_seconds: false
        %tr
          %td Started:
          %td= task_presenter.start_time
        %tr
          %td Finished:
          %td= task_presenter.finish_time
    -if current_user.admin?
      .block
        %table.model-fields.full-width
          %tr
            %td Labour cost / batch:
            %td= number_to_currency task_presenter.labour_cost
          %tr
            %td Labour cost / unit:
            %td= number_to_currency task_presenter.unit_labour_cost
    .batch.block
      -if task_presenter.batch
        = link_to 'View batch', task_presenter.batch
