.panel.panel-default.task-card.card.in-progress
  .panel-body
    .quantity
      .number= task_presenter.quantity_in_zone_units
      .unit= task_presenter.zone_unit_name
    .details.block
      %table.model-fields.full-width
        %tr
          %td Date:
          %td= task_presenter.date
        %tr
          %td Estimated duration:
          %td= duration task_presenter.duration_estimate
    .block
      .js-timer{ data: { 'seconds-left' => task_presenter.seconds_left } }
      .links
        -if task_presenter.in_progress_by?(current_user)
          = link_to 'FNSKU', product_barcode_path(task_presenter.product_id, format: 'pdf'), target: '_blank'
    .actions
      -if task_presenter.in_progress_by?(current_user)
        = link_to 'Cancel', cancel_task_path(task_presenter.task.id),
          method: :put, class: 'action button-left'
        = link_to 'Finish', new_batch_path(batch: task_presenter.batch_default_attributes), class: 'action button-right'
