.panel.panel-default.task-card.card.finished
  .panel-body
    .quantity
      .number= task_presenter.quantity_in_zone_units
      .unit= task_presenter.zone_unit_name
    .details.block
      %table.model-fields.full-width
        %tr
          %td Date:
          %td= task_presenter.date
        %tr
          %td Estimated duration:
          %td= duration task_presenter.duration_estimate, include_seconds: false
    .actions
      = link_to 'Start', start_task_path(task_presenter.task), method: :put, class: 'action'
