= index_table 'tasks' do
  %thead
    %th
    - if product_column
      %th Product
    %th Demand
    %th Actual
    %th Under/Over
    %th Planned Date
    %th Actual Date
    %th.width-120 Started - Finished
    %th Duration
    -if current_user.admin?
      %th Labor Cost / Batch
      %th Labor Cost / Unit
    %th User
    %th
  %tbody
    -presenters.each do |presenter|
      %tr
        %td= zone_label presenter.zone
        - if product_column
          %td.text-left= presenter.product_name
        %td= presenter.aimed_quantity_with_unit
        %td= presenter.batch_quantity_with_unit
        %td= percent presenter.coverage
        %td= presenter.date
        %td= presenter.started_at&.to_date
        %td
          = presenter.start_finish_time
          = task_in_progress_badge if presenter.in_progress?
        %td= duration presenter.duration, include_seconds: false
        -if current_user.admin?
          %td= number_to_currency presenter.labour_cost
          %td= number_to_currency presenter.unit_labour_cost
        %td= presenter.user_name
        %td= link_to 'View', presenter.task
