= page_header "Edit task", icon: 'tasks'

= render 'form', presenter: presenter

.row.danger-zone
  .col-lg-4.col-md-5.col-sm-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to 'Delete task', task_path(presenter.task), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
