#task-cards{ data: { "start-date": date_range.start_date, "end-date": date_range.end_date } }
  .row.date-filter
    .col-sm-12
      .input-group.input-daterange.pull-right.js-date-range
        %input.form-control.js-start-date{ 'v-model': 'startDate' }
        .input-group-addon to
        %input.form-control.js-end-date{ 'v-model': 'endDate' }

  .js-task-cards
    = render 'tasks/task_cards/days', daily_presenters: daily_presenters, date_range: date_range


