#task-details
  = page_header do
    -if current_user.admin?
      = link_to 'Edit', edit_task_path(@presenter.task), class: 'pull-right btn btn-primary'
    = image_tag @presenter.product_image_url
    .header-content
      %p= zone_label(@presenter.zone)
      %h1= link_or_text @presenter.product, current_user.admin?, @presenter.product_name
      %p.font-large
        %i.fa.fa-user.fa-fw
        = @presenter.user_name

  .row
    .col-md-12
      -if @presenter.pending?
        = render 'show_pending', task_presenter: @presenter
      -elsif @presenter.in_progress?
        = render 'show_in_progress', task_presenter: @presenter
      -else
        = render 'show_finished', task_presenter: @presenter

