@import "variables_and_mixins";

.task-card {
  width: 250px;
  text-align: center;
  .panel-body { padding: 0; }

  .quantity {
    .number { font-size: 36px; }
    padding: 20px 15px;
  }

  .js-timer {
    font-size: 36px;
    padding: 10px 0 10px;
    height: 71px;
    .overdue { color: $red; }
  }

  .links {
    margin: 10px 0 10px;
  }

  .block {
    border-top: 1px solid #ccc;
    padding: 15px;
    table td { padding: 5px 0; }
  }

  .details {
  }

  .actions {
    border-top: 1px solid #ccc;
  }

  .batch {
    padding: 25px;
    text-align: center;
  }
}
