@import "variables_and_mixins";

// Card sizes
.js-product-card-front, .js-product-card-back {
  height: 460px;
  min-width: 250px;
  width: 250px;
  @media (max-width: 350px) { width: 100%; }

  .details-top { height: 40px; }

  .js-thumbnail, .timer-and-info {
    height: 180px;
    img { max-height: 120px; }
  }

  .actions { height: 73px; }
}

.js-product-card {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;

  .js-product-card-front, .js-product-card-back {
    margin: 0;
    .panel-body { padding: 0; }

    .js-flip-icon {
      float: right;
      height: 27px;
      padding: 2px 5px 5px 5px;
      cursor: pointer;
    }
  }

  .js-product-card-front {
    border-width: 2px;
    border-style: solid;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 0 0 20px;
      padding: 2px 0;
      height: 70px;
      font-size: 14px;
    }

    .details-top {
      border-top: 1px solid #ccc;

      .segment {
        text-align: center;
        padding: 10px 0;
        width: 50%;
        float: left;
        &:first-child { border-right: 1px solid #ccc; }
      }
    }

    .zone {
      .zone-label {
        display: block;
        border-radius: 0;
      }
    }

    .js-thumbnail {
      padding: 30px 0;
      text-align: center;
    }

    .js-task-in-progress {
      text-align: center;

      .quantity {
        .number {
          font-size: 30px;
          line-height: 30px;
        }
        margin: 30px 15px 10px;
      }

      .timer-and-info {
        padding-top: 50px;

        .js-timer {
          font-size: 30px;
          .overdue { color: $red; }
          height: 43px; // prevents content shrinking upon timer updates
          margin-bottom: 20px;
        }

        .links {
          margin-top: 10px;
          p { margin: 0; }
        }
      }
    }

    .number-and-info {
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;

      .number-container {
        width: 50%;
        border-right: 1px solid #ccc;
        padding: 10px 2px;

        .number {
          font-size: 30px;
          line-height: 30px;
          .exclamation {
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }

      .info {
        width: 50%;
        padding: 2px;
        p { margin: 0; }
      }
    }
  }

  .js-product-card-back {
    display: none;
    text-align: center;
    overflow: auto;

    .inventory, .low-ingredient, .gift-box-components { margin: 15px; }

    .title {
      display: block;
      margin: 20px 15px 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $almost_black;
    }

    .task-link {
      margin: 15px;
    }

    .fnsku {
      margin: 5px 15px 15px;
    }

    .inventory {
      p { margin: 0; }
    }

    .gift-box-components {
      margin-top: 15px;
      p { margin-bottom: 5px; }
      table {
        td { vertical-align: top; }
        td:first-child { text-align: left; }
        td:last-child  { text-align: right; }
      }
    }
  }
}

.card {
  .actions {
    a.action {
      display: block;
      text-align: center;
      padding: 22px 5px;
      height: 73px;
      font-size: 16px;

      width: 100%;

      &.button-left, &.button-right {
        width: 50%;
        float: left;
      }

      &.button-left { border-right: 1px solid #ccc; }

      &:hover {
        text-decoration: none;
        color: white;
        background-color: $link-blue;
      }
    }
  }
}
