@import "variables_and_mixins";

#task-cards {
  .js-date-range {
    width: 300px;
  }

  .js-task-cards {
    .day {
      margin: 0 0 20px;
    }

    .day-title {
      margin: 0 0 20px;
      padding: 5px 15px;
      border-bottom: 2px dotted #ccc;

      font-size: 16px;
      color: #555;
      &.overdue {
        color: $red;
        border-color: $red;
      }

      .hours {
        float: left;
        width: 100px;
        i.fa { font-size: medium; }
      }

      .date {
        font-weight: bold;
      }
    }
  }
}

