= render 'products/show_header', product_presenter: @presenter

#product-page
  .js-product-info{data: { product_id: @presenter.product_id } }
  .js-uploader-init{data: { api_key: @presenter.filestack_api_key} }

  = render partial: 'shared/attachments_list', locals: { attachments: @presenter.attachments }
