.progress
  .progress-bar.urgency-background{class: "urgency-#{presenter.demand_coverage_color}",
    style: "width: #{presenter.demand_coverage_limited}%;"}
    %span= "#{presenter.demand_coverage}%"
