= page_header "Zone", icon: 'cogs'

.row
  .col-lg-3.col-md-4.col-sm-6
    = bootstrap_form_for [:admin, @zone], label_errors: true do |f|
      .control-group
        = f.text_field :name

      .control-group
        = f.text_field :production_order

      = form_actions(f)

