.container-fluid
  .row
    %ul.list-inline
      - attachments.each do |attachment|
        %li.attachment-preview{data: {attachment_id: attachment.id, url: attachment.preview_url}}
          %img.js-show-full-size{src: attachment.preview_url, data: {viewer_url: attachment.viewer_url}}
          %i.fa.fa-trash-o.delete-icon.js-delete-attachment
      %li.attachment-preview.upload
        .add-new-attachment.js-add-attachment
          %i.fa.fa-cloud-upload.add-icon
          %div Upload

