%select.form-control{class: custom_class}
  %option(value: 0)
    - components_by_zone.each do |zone, components|
      %optgroup{label: zone}
        - components.each do |component|
          %option{value: component.id, selected: (component.id == selected)}
            = component.name
