- tr_class ||= ''
%tr.js-ingredient{class: tr_class}
  %td
    %select.js-inventory-item.form-control
      %option{value: 0}
      - presenter.zones.each do |zone|
        - if presenter.components?(zone)
          %optgroup{label: zone.name}
            - presenter.zone_materials(zone).each do |inventory_item|
              = render partial: 'inventory_item_as_ingredient', locals: { inventory_item: inventory_item, selected: presenter.inventory_item }
            - if presenter.zone_products(zone).any?
              %option{value:"", disabled:"disabled"} ──────────────── Products ────────────────
              - presenter.zone_products(zone).each do |inventory_item|
                = render partial: 'inventory_item_as_ingredient', locals: { inventory_item: inventory_item, selected: presenter.inventory_item }
  %td
    %input.js-quantity.form-control.xsmall{type: :number, value: presenter.quantity_in_small_units || 1 }
  %td
    %span.js-unit= presenter.small_unit_name
  %td
    = link_to '#', class: 'js-remove' do
      %i.fa.fa-times
