%option{value: inventory_item.id,
        selected: (inventory_item == selected ),
        data: {'unit' => inventory_item.ingredient_unit_name,
               'unit-price' => inventory_item.prime_cost}}
  = inventory_item.name
