#product-page.edit-product-ingredients.js-edit-product-ingredients{data: {'product-id' => @product.id }}
  = page_header do
    = image_tag @product.image_url
    .header-content
      %h1 Edit Product Ingredients
      %h2= @product.internal_title

  .row
    .col-lg-12
      %table
        %thead
          %tr
            %th Name
            %th Quantity
            %th Unit
            %th
        %tbody
          - @ingredients.each do |presenter|
            =render 'ingredients/form_tr', presenter: presenter
          =render 'ingredients/form_tr', presenter: @new_ingredient_presenter, tr_class: "js-ingredient-template"
      %p
        = link_to "#", class: "js-add-ingredient" do
          %i.fa.fa-plus
          Add another ingredient

  .row.actions
    .col-lg-12
      = link_to "Cancel", "#", class: "btn btn-default back-btn"
      = link_to "Save", "#", class: "btn btn-primary js-save"

