<template>
  <div v-bind:class="{hidden: isHidden}">
    <span @click="submitForm" class="btn btn-sm form-ok">
      <i class="fa fa-check"/>
        OK
    </span>
    <span @click="cancelForm" class="btn btn-sm form-cancel">
      <i class="fa fa-ban"/>
        Cancel
    </span>
  </div>
</template>

<script>

export default {
  props: ['isHidden'],
  data() {
    return {};
  },
  methods: {
    submitForm() {
      this.$emit('form-confirmed')
    },
    cancelForm() {
      this.$emit('form-cancelled')
    }
  }
}
</script>
  
<style scoped>
  
  div {
    padding: 5px;
    display: inline-block;
    line-height: 26px;
  }

  span {
    padding: 5px;
    &:hover {
      border: 1px solid #d4d4d4;
    }
  }

  .form-ok > i {
    font-size: 16px;
    color: green;
  }

  .form-cancel > i {
    font-size: 16px;
    color: red;
  }

</style>
