<template>
  <div>
    <template v-if="condition">
      <a :href='url'>
        <slot>
          {{text}}
        </slot>
      </a>
    </template>
    <template v-else>
      <span>
        <slot>{{text}}</slot>
      </span>
    </template>
  </div>
</template>

<script>

export default {
  props: ['url', 'condition', 'text']
}
</script>
