= page_header "Archived Products"

#product-page
  .row
    .col-lg-12
      .row
        .col-lg-8
          = index_table 'product-list' do
            %thead
              %th
              %th Product
              %th Size
              %th List Price
            %tbody
              - @presenters.each_with_index do |product_presenter, index|
                %tr
                  %td.grey= index + 1
                  %td= render "products/product_as_icon_and_text", product: product_presenter.product
                  %td= product_presenter.product_size
                  %td= number_to_currency product_presenter.list_price_amount

