<script>

  const ProductProperties = {
    data() {
      return {
        showFormConfirmation: false,
        internalTitle: ''
      };
    },
    mounted() {
      this.internalTitle = this.$refs.internalTitleData.getAttribute('data-title')
    },
    computed: {
      productId() {
        return this.$refs.internalTitleData.getAttribute('data-product-id');
      }
    },
    methods: {
      showConfirmation() {
        this.showFormConfirmation = true;
      },
      submitCheckboxesForm() {
        this.showFormConfirmation = false;
        this.$refs.productAvailabilitiesForm.submit() // we can change later to ajax here
      },
      cancelCheckboxesForm() {
        this.showFormConfirmation = false;
      },
      saveTitle() {
        let data = { product: { internal_title: this.internalTitle } }
        $.ajax(`/products/${this.productId}`, {
          method: 'PATCH',
          data: data,
          dataType: 'json'})
      }
    }
  };
  export default ProductProperties;
</script>

<style lang='scss' scoped>
  @import 'app/assets/stylesheets/variables_and_mixins';

  .product-checkboxes {
    margin-bottom: 60px;
    .product-active, .product-zones {
      float: left;
      margin-right: 40px;
    }
    .product-zones {
      .form-group {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .control-label {
        padding-right: 15px;
      }
    }
  }
</style>
