%h4 Edit container

= bootstrap_form_for presenter.material_container, url: material_container_path(presenter.material, presenter.material_container), label_errors: true do |f|
  .row
    .col-lg-4.col-md-6
      .control-group
        = f.select :status, MaterialContainer.statuses.keys, {}
      .control-group
        = f.text_field :external_name, disabled: true
      .control-group
        = f.number_field :amount_left, value: presenter.amount_left, step: 0.01
      .control-group
        = f.text_field :expiration_date_str, label: 'Date', class: 'datepicker'
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary save'
    = link_to 'Cancel', material_containers_path(presenter.material), class: 'btn btn-default'

