%table.table.table-hover.index-table.full-width.material-containers
  %thead
    %tr
      %th Status
      %th External name
      %th Container form
      %th Ordering unit
      %th Initial quantity
      %th Current amount
      %th Expiration date
      %th Invoice
      %th
  %tbody
    -presenters.each do |presenter|
      = render 'material_container', presenter: presenter

