%tr{class: "#{presenter.highlight? ? 'highlighted' : ''}"}
  %td= presenter.status
  %td= presenter.external_name
  %td= presenter.container_form
  %td= presenter.unit.name
  %td= presenter.amount_in_material_units
  %td= presenter.amount_left_in_material_units
  %td= presenter.expiration_date
  %td= link_to presenter.lot_number, presenter.invoice
  %td= link_to 'Edit', edit_material_container_path(presenter.material, presenter.material_container)

