%table.table.table-hover.index-table.full-width.material-transactions
  %thead
    %tr
      %th Zone
      %th Date
      %th Product
      %th Batch
      %th Product made
      %th Material spent
      %th Lot number
      %th Left in inventory
  %tbody
    - presenters.each do |presenter|
      %tr
        %td= zone_label(presenter.zone)
        %td= presenter.transaction_date
        %td= link_to presenter.product_name, presenter.product
        %td= link_to presenter.batch_id, presenter.batch
        %td= presenter.product_quantity
        %td= presenter.material_quantity 
        %td= link_to presenter.lot_number, material_container_path(presenter.material, presenter.material_container)
        %td= presenter.inventory_amount
