- ii_presenter = task_presenter.inventory_item_presenter
- product_presenter = task_presenter.product_presenter

= link_or_text task_presenter.product, current_user.admin do
  .title= task_presenter.product_name

.details-top
  .segment= product_presenter.product_size
  .segment= product_presenter.items_per_case_ppc
  .clearfix

.zone= zone_label(task_presenter.zone)

- if task_presenter.in_progress?
  = render 'tasks/task_cards/card_front_in_progress', task_presenter: task_presenter
- else
  = render 'tasks/task_cards/card_front_pending', task_presenter: task_presenter
