.js-product-card.card{ data: { 'task-id' => task_presenter.task_id } }
  .panel.panel-default.js-product-card-front.urgency-border{ class: task_presenter.urgency_css_class }
    .panel-body
      .js-flip-icon.urgency-color
        %i.fa.fa-arrow-right
      = render 'tasks/task_cards/card_front', task_presenter: task_presenter

  .panel.panel-default.js-product-card-back
    .panel-body
      .js-flip-icon.light-gray
        %i.fa.fa-arrow-right
      = render "tasks/task_cards/#{task_presenter.zone_slug}_card_back", task_presenter: task_presenter

