.js-task-in-progress
  .timer-and-info
    .js-timer{ data: { 'seconds-left' => task_presenter.seconds_left } }
    .links
      -if task_presenter.in_progress_by?(current_user)
        %p= link_to 'FNSKU label', product_barcode_path(task_presenter.product_id, format: 'pdf'), target: '_blank'
        -if task_presenter.pack?
          %p= link_to 'Case label', product_case_label_path(task_presenter.product, format: 'pdf'), target: '_blank'

  = render 'tasks/task_cards/number_and_assignee', task_presenter: task_presenter

  .actions
    -if task_presenter.in_progress_by?(current_user)
      = link_to 'Cancel', cancel_task_path(task_presenter.task.id),
        method: :put, class: 'action button-left'
      = link_to 'Finish', new_batch_path(batch: task_presenter.batch_default_attributes), class: 'action button-right'
      .clearfix
