- product_presenter = task_presenter.product_presenter

.js-task-pending
  .js-thumbnail
    = link_or_text product_presenter.product, current_user.admin do
      = image_tag product_presenter.image_url

  = render 'tasks/task_cards/number_and_assignee', task_presenter: task_presenter

  .actions
    = link_to 'Start', '#', class: 'js-start-task action'
