- daily_presenters.each do |tasks_presenter|
  .row.day
    .col-lg-12
      .day-title{class: tasks_presenter.title_css_class}
        .hours
          %i.fa.fa-clock-o
          = "#{tasks_presenter.total_hours} h"
        .date= tasks_presenter.date_title
      .day-tasks.clearfix
        - tasks_presenter.task_presenters.each do |presenter|
          = render 'tasks/task_cards/card', task_presenter: presenter
