.number-and-info
  .number-container
    .number= integer_with_delimiter task_presenter.quantity_in_zone_units
    .unit-of-measure= task_presenter.zone_unit_name
  .info
    %p
      %i.fa.fa-user
      = task_presenter.user_name
    %p= duration task_presenter.duration_estimate, include_seconds: false
