- product_presenter = task_presenter.product_presenter

.title= task_presenter.product_name

.fnsku= "FNSKU: #{product_presenter.fnsku}"

.task-link= link_to 'View task', task_presenter.task

.inventory
  -if product_presenter.has_make_zone?
    %p= "Made inventory: #{integer_with_delimiter product_presenter.made_inventory_quantity}"

-if product_presenter.gift_box?
  .gift-box-components
    %p Components / inventory:
    %table.full-width
      - product_presenter.product_components.each do |component|
        %tr
          %td= component.name
          %td= integer_with_delimiter component.inventory_quantity
