- url = presenter.item.new_record? ? invoice_items_path : invoice_item_path(presenter.invoice, presenter.item)
= bootstrap_form_for [presenter.invoice, presenter.item], url: url, label_errors: true do |f|
  = f.hidden_field :invoice_id
  = f.fields_for :material_container, presenter.item.material_container do |ff|
    .js-step-1
      .row
        .col-sm-12
          .control-group
            = ff.collection_select :material_id, presenter.materials_for_selection, :id, :name,
              { include_blank: true },
              {class: 'width-auto js-material-select', disabled: presenter.step_1_disabled?}

    .js-step-2{ class: hidden_if(presenter.step_2_hidden?) }
      .row
        .col-md-6.col-sm-12
          .control-group
            = ff.text_field :external_name, label: "External name"

      - unless presenter.locked?
        .row
          .col-md-3.col-sm-6
            .control-group
              = ff.collection_select :ordering_size_id, presenter.sizes_for_selection, :id, :to_s,
                { label: "Size", label_class: 'required' },
                { class: 'js-ordering-sizes' }

          .col-md-3.col-sm-6
            .control-group
              = ff.number_field :price, label: "Size price", prepend: "$", step: 0.00001

      .row
        .col-md-3.col-sm-6
          .control-group
            = ff.text_field :lot_number, label: "Lot #"

        .col-md-3.col-sm-6
          .control-group
            = ff.text_field :expiration_date_str, label: 'Expiration date', class: 'datepicker'

      - unless presenter.locked?
        .row
          .col-md-3.col-sm-6
            .control-group
              = f.number_field :quantity

      .row
        .col-md-6.col-sm-12
          = form_actions(f)

