= page_header "Edit Line Item", icon: 'file-text-o'

= render 'form', presenter: @presenter

.row.danger-zone
  .col-lg-4.col-md-5.col-sm-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to 'Delete this item', invoice_item_path(@presenter.invoice, @presenter.item), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
