= render 'materials/show_header', material_presenter: @presenter

.js-material-info{data: {material_id: @presenter.material_id}}
.js-uploader-init{data: {api_key: @presenter.filestack_api_key}}

= render partial: 'shared/attachments_list', locals: { attachments: @presenter.attachments }
