= page_header "Production Urgency Levels", icon: 'hourglass-half'

.row
  .col-lg-3.col-md-4.col-sm-6
    = bootstrap_form_for @setting, url: admin_settings_path(urgency_levels: true), label_errors: true do |f|
      .control-group
        =f.number_field :red_urgency_level_days, label: "Red level", append: "days or less"
      .control-group
        =f.number_field :yellow_urgency_level_days, label: "Yellow level", append: "days or less"

      = form_actions(f)

