= page_header "Factory Address", icon: 'envelope-o'

.row
  .col-lg-5.col-md-6.col-sm-8
    = bootstrap_form_for @setting, url: admin_settings_path(address: true), label_errors: true do |f|
      .control-group
        =f.text_field :address_name, label: "Name"
      .control-group
        =f.text_field :address_line1, label: "Address line 1"
      .control-group
        =f.text_field :address_line2, label: "Address line 2"
      .control-group
        =f.text_field :address_city, label: "City"
      .control-group
        =f.text_field :address_state, label: "State"
      .control-group
        =f.text_field :address_zip_code, label: "Zip code"
      .control-group
        =f.text_field :address_country, label: "Country"

      = form_actions(f)

