= page_header "Amazon API Credentials", icon: 'key'

.row
  .col-lg-5.col-md-6.col-sm-8
    = bootstrap_form_for @setting, url: admin_settings_path(amazon_credentials: true), label_errors: true do |f|
      .control-group
        =f.text_field :aws_access_key_id, label: "AWS access key ID"
      .control-group
        =f.password_field :aws_secret_key, label: "AWS secret key", value: @setting.aws_secret_key
      .control-group
        =f.text_field :mws_merchant_id, label: "Seller (Merchant) ID"
      .control-group
        =f.text_field :mws_marketplace_id, label: "Marketplace ID"

      = form_actions(f)

