%table
  %tbody
    - ii_presenter.as_ingredient_demand_breakdown.each do |key, demand|
      %tr
        %td
          %span= link_or_text key, current_user.admin?, key.name
        %td= integer_with_delimiter demand
