- ingredient_presenters = product_ii_presenter.ingredient_forecast_presenters

-if ingredient_presenters.any?
  %tr.no-border
    %td.bold{colspan: 2}= zone_label(product_ii_presenter.zone)
    %td{colspan: 10}

  - ingredient_presenters.each do |ingredient_presenter|
    %tr
      %td.text-left= link_to ingredient_presenter.inventory_item_name, ingredient_presenter.inventoriable
      %td.text-right= ingredient_presenter.quantity_with_unit
      %td.text-right= ingredient_presenter.cost_percent
      %td.text-right= number_to_currency ingredient_presenter.cost
      %td.text-right= number_to_currency ingredient_presenter.previous_cost
      %td.text-left= dynamics ingredient_presenter.prime_cost_change_percent
      %td
      %td.text-center
        %span.js-toggled.js-material-units
          = ingredient_presenter.current_inventory_with_unit
        %span.js-toggled.js-product-units.hidden
          = ingredient_presenter.current_inventory_in_products
      -if show_in_process
        %td.text-center
          %span.js-toggled.js-material-units
            = ingredient_presenter.in_process_with_unit
          %span.js-toggled.js-product-units.hidden
            = ingredient_presenter.in_process_products
      %td.text-center
        %span.js-toggled.js-material-units
          = ingredient_presenter.to_cover_with_unit
        %span.js-toggled.js-product-units.hidden
          = ingredient_presenter.to_cover_products
      %td.text-center
        %span.js-toggled.js-material-units
          = ingredient_presenter.can_cover_with_unit
        %span.js-toggled.js-product-units.hidden
          = ingredient_presenter.can_cover_products
      %td.text-center
        %span.red.js-toggled.js-material-units
          = ingredient_presenter.shortfall_with_unit
        %span.red.js-toggled.js-product-units.hidden
          = ingredient_presenter.shortfall_products
        = render 'inventory_items/demand_coverage_indicator', presenter: ingredient_presenter.inventory_item_presenter
  %tr
    %td{colspan: 2}
    %td.text-right.total Subtotal:
    %td.text-right.bold.total= number_to_currency product_ii_presenter.zone_prime_cost
    %td{colspan: 8}

  -unless product_ii_presenter.in_ship_zone?
    %tr.gray
      %td Labor cost
      %td
      %td
      %td.text-right= number_to_currency product_ii_presenter.labour_cost
      %td{colspan: 9}
