.panel.panel-default.show-financials
  .panel-heading
    Financials
  .panel-body
    %table
      %tr
        %td COGS:
        %td= number_to_currency product_presenter.prime_cost
      %tr
        %td Labor cost:
        %td= number_to_currency product_presenter.labour_cost
      %tr
        %td Selling price:
        %td= number_to_currency product_presenter.selling_price
      %tr
        %td Fee:
        %td= number_to_currency product_presenter.fee
      %tr
        %td Profit:
        %td= number_to_currency product_presenter.profit
      %tr
        %td Gross margin:
        %td= product_presenter.gross_margin
      %tr
        %td ROI:
        %td= product_presenter.roi
