.show-product-ingredients
  .panel.panel-default
    .panel-heading
      %ul.actions.list-inline.list-unstyled.pull-right
        %li= link_to 'Edit', edit_ingredients_product_path(product_presenter.product), class: 'pull-right'
        %li
          .dropdown.js-view-toggler
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.js-current Material Units
              %span.caret
            %ul.dropdown-menu
              %li.js-option{ data: { toggle: 'js-material-units' } }
                %a{:href => "#"} Material units
              %li.js-option{ data: { toggle: 'js-product-units' } }
                %a{:href => "#"} Product units
      Materials
      .clearfix

  %table.table.table-hover.full-width
    %thead.light
      %tr
        %th.no-border{colspan: 2}
        %th.text-center{colspan: 4} Costs
        %th.no-border
        %th.text-center{colspan: 5} Production
      %tr.no-border
        %th{colspan: 2}
        %th.text-right %
        %th.text-right Current
        %th.text-right Previous
        %th.text-left Change
        %th.no-border
        %th.text-center Current Inventory
        -if product_presenter.gift_box?
          %th.text-center In Process
        %th.text-center Demand
        %th.text-center Production Allocation
        %th.text-center Shortfall
    %tbody
      - product_presenter.zones.each do |zone|
        = render 'ingredients_table', show_in_process: product_presenter.gift_box?,
          product_ii_presenter: product_presenter.inventory_item_presenter(zone)

      %tr.no-border
        %td{colspan: 13} &nbsp;

      %tr
        %td.no-border{colspan: 2}
        %td.total.text-right.bold Total:
        %td.total.text-right.bold= number_to_currency product_presenter.prime_cost
        %td.no-border{colspan: 8}
