.panel.panel-default.show-product-inventory
  .panel-heading
    Inventory
  .panel-body
    %table.table.index-table
      %tbody
        %tr.separator
          %td{colspan: 2} Local warehouse
          %td.cost-header.text-right Cost

        -if product_presenter.has_make_zone?
          %tr
            %td.width-120
              .zone-label.zone-make Made
            %td.text-right= number_with_delimiter product_presenter.made_inventory_quantity
            %td.text-right= number_to_currency product_presenter.made_inventory_total_cogs

        -if product_presenter.has_pack_zone?
          %tr
            %td.width-120
              .zone-label.zone-pack Packed
            %td.text-right= number_with_delimiter product_presenter.packed_inventory_quantity
            %td.text-right
              = number_to_currency product_presenter.packed_inventory_total_cogs

        %tr.total
          %td.text-right Local total:
          %td.text-right= number_with_delimiter product_presenter.made_plus_packed_quantity
          %td.text-right= number_to_currency product_presenter.made_plus_packed_inventory_total_cogs

        %tr.separator
          %td{colspan: 2}
            %span FBA warehouse
          %td.cost-header.text-right Value

        %tr
          %td.width-120
            .zone-label.zone-ship Shipped
          %td.text-right= number_with_delimiter product_presenter.inbound_shipped
          %td.text-right= number_to_currency product_presenter.inbound_shipped_cost_total

        %tr
          %td.width-120
            .zone-label.zone-fba Fulfillable
          %td.text-right= number_with_delimiter product_presenter.fulfillable
          %td.text-right= number_to_currency product_presenter.fulfillable_cost_total

        %tr.total
          %td.text-right FBA total:
          %td.text-right= number_with_delimiter product_presenter.fba_total
          %td.text-right= number_to_currency product_presenter.fba_cost_total

        %tr.days-of-cover
          %td.text-left{colspan: 3}
            %p
              Reserved:
              %span.bold= number_with_delimiter product_presenter.reserved
            %p
              Days of cover:
              %span.bold= product_presenter.days_of_cover
              %span.gray= product_presenter.days_of_cover_hint
