.panel.panel-default.show-production-forecast
  .panel-heading
    Forecast
  .panel-body
    %table.properties
      %tr
        %td Production buffer:
        %td= product_presenter.production_buffer_days
      %tr
        %td Demand forecasting:
        %td= integer_with_delimiter product_presenter.total_demand
    %br

    %table.table.index-table.forecast
      %thead
        %tr
          %th
          %th Current Inventory
          %th Demand
          %th Production Allocation
      %tbody

        -product_presenter.inventory_item_presenters.each do |ii_presenter|
          %tr
            %td
              .zone-label{class: "zone-#{ii_presenter.zone_slug}"}
                = ii_presenter.zone_name
            %td= integer_with_delimiter ii_presenter.inventory_quantity
            %td= integer_with_delimiter ii_presenter.to_cover
            %td= integer_with_delimiter ii_presenter.can_cover


    - make_ii_presenter = product_presenter.make_inventory_item_presenter
    - if make_ii_presenter&.compound_demand?
      .demand-breakdown
        .header Make demand allocation breakdown:
        = render 'demand_breakdown', ii_presenter: make_ii_presenter
