= page_header do
  %h1
    = zone_label(@zone)
    Inventory

#product-page
  .row
    .col-lg-12
      = index_table 'products-inventory' do
        %thead
          %th.width-70
          %th.width-300 Name
          %th.width-100 Inventory Quantity
          -if @zone.pack?
            %th.width-100 Cases
          %th.width-100 Production units per minute
          %th.width-100 Production setup time (minutes)
        %tbody
          -@presenters.each_with_index do |presenter, index|
            %tr.js-component{ data: { inventory_item_id: presenter.inventory_item_id } }
              %td.grey= index + 1
              %td.text-left= render "products/product_as_icon_and_text", product: presenter.product
              %td= editable_integer presenter.inventory, :quantity, input_options: { min: 0 }
              -if @zone.pack?
                %td= presenter.product_presenter.packed_case_quantity
              %td= editable_integer presenter.inventory_item, :production_units_per_minute, input_options: { min: 0, class: 'xsmall' }
              %td= editable_integer presenter.inventory_item, :production_setup_minutes, input_options: { min: 0, class: 'xsmall' }
