= render 'products/show_header', product_presenter: @presenter

#product-page
  .row
    .col-lg-4.col-md-5
      = render "show_inventory_section", product_presenter: @presenter
    .col-lg-8.col-md-7
      .row
        .col-lg-8
          = render "show_forecast", product_presenter: @presenter
        .col-lg-4
          = render "show_financials", product_presenter: @presenter

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Graph
        .panel-body
          #prime-cost-chart-container.js-prime-cost-history-graph{data: {product_id: @presenter.product_id}}

  .row
    .col-lg-12
      = render "show_materials", product_presenter: @presenter
