.row
  .col-lg-12
    = index_table 'batch-list full-width' do
      %thead
        %th Zone
        - if product_column
          %th Product
        %th.quantity Qty
        %th.date Date
        %th Users
        %th Shipment ID
        %th.notes Notes
        %th
      %tbody
        -batch_presenters.each do |presenter|
          %tr
            %td= zone_label(presenter.zone)
            - if product_column
              %td=render "products/product_as_icon_and_text", product: presenter.product
            %td= pluralize presenter.main_quantity, presenter.main_quantity_unit
            %td= presenter.completed_on&.to_s(:short)
            %td= user_list(presenter.users)
            %td= presenter.shipment_id
            %td.text-left= presenter.notes
            %td= link_to 'View', presenter.batch
