= page_header do
  = image_tag batch_presenter.product_image_url, id: 'batch_image', alt: batch_presenter.product_title
  .header-content
    %p= zone_label(batch_presenter.zone)
    %h1
      = link_or_text batch_presenter.product, current_user.admin?, batch_presenter.product_title
      batch
