= render 'page_header', batch_presenter: presenter

= render partial: 'form', locals: { presenter: presenter, title: 'Batch' }

.row.danger-zone
  .col-lg-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to "Delete this batch", presenter.batch, method: :delete, class: 'btn btn-danger'
