= render 'page_header', batch_presenter: presenter

.row
  .col-sm-12
    .panel.panel-default.batch-card
      .panel-heading
        Details
        = link_to 'Edit', edit_batch_path(presenter.batch), class: 'pull-right'
      .panel-body
        .quantity
          .number= presenter.main_quantity
          .unit= presenter.main_quantity_unit

        %table.model-fields.full-width
          %tr
            %td Date:
            %td= presenter.completed_on&.to_s(:long)
          -if presenter.ship_zone?
            %tr
              %td Shipment ID:
              %td= presenter.shipment_id
          %tr
            %td Users:
            %td= user_list(presenter.users)
          %tr
            %td Notes:
            %td= presenter.notes

        -if presenter.task
          .task= link_to 'View task', presenter.task
