%tr
  %td
    %p= link_to entry.product.name, product_path(entry.product)
  %td
    %p= entry.quantity
  %td
    %p= entry.status
  %td
    %p= link_to 'View batch', batch_path(entry.batch) if entry.batch
