= page_header 'Shipment in Progress'

.row
  .col-lg-12
    %ul.nav.nav-pills.small
      %li{class: @presenter.filter_css_class('amazon_processing') }
        = link_to 'Processing by Amazon', amazon_shipments_path(filter: 'amazon_processing')
      %li{class: @presenter.filter_css_class('processing') }
        = link_to 'In the queue', amazon_shipments_path(filter: 'processing')
      %li{class: @presenter.filter_css_class('all') }
        = link_to 'All', amazon_shipments_path
.row
  .col-lg-12
    = index_table 'active-shipments' do
      %thead
        %tr
          %th Id
          %th Shipment ID
          %th Shipment Name
          %th Status
          %th Warehouse
          %th Cases Required
          %th Created At
          %th
      %tbody
        - @presenter.shipments.each do |presenter|
          %tr
            %td= presenter.id
            %td= presenter.shipment_id
            %td= presenter.name
            %td= presenter.status
            %td= presenter.warehouse_name
            %td= presenter.cases_required
            %td= presenter.created_at
            %td= link_to 'View', amazon_shipment_path(presenter.shipment)
