= page_header do
  %h2
    %i.fa.fa-truck
    = "Shipment #{@presenter.name}"
  %h2= @presenter.created_at

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Shipment Info
      .panel-body
        %table.full-width.model-fields
          %tr
            %td Shipment ID
            %td= @presenter.shipment_id
          %tr
            %td Amazon Warehouse
            %td= @presenter.fba_warehouse_name
          %tr
            %td Status:
            %td= @presenter.status
          %tr
            %td In Cases
            %td= @presenter.cases_required.to_s

.row
  .col-md-12.col-lg-6
    .panel.panel-default
      .panel-heading
        Amazon Shipment items
    %table.table.table-hover.index-table.full-width
      %thead
        %tr
          %th Product
          %th Quantity
          %th Status
          %th Batch
      %tbody
        - @presenter.shipment_entries.each do |entry|
          = render 'shipment_entry', entry: entry
