.row
  .col-lg-4.col-md-5.col-sm-6
    = bootstrap_form_for unit, label_errors: true do |f|
      .control-group
        = f.text_field :name

      .control-group
        = f.text_field :full_name

      = form_actions(f)
