= page_header "Edit Unit of Measure", icon: 'tint'


= render 'form', unit: @unit

.row.danger-zone
  .col-lg-4.col-md-5.col-sm-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to 'Delete this unit', @unit, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure? All materials and products that use this unit will be affected'}
