= page_header do
  = link_to 'New', new_unit_path, class: 'btn btn-primary pull-right'
  %h1
    %i.fa.fa-tint
    Units of Measure

.row
  .col-lg-12
    = index_table 'units-list' do
      %thead
        %th Name
        %th Full name
        %th
      %tbody
        - @units.each do |unit|
          %tr
            %td= unit.name
            %td= unit.full_name
            %td= link_to 'Edit', edit_unit_path(unit)
