= render 'products/show_header', product_presenter: @presenter

#product-page
  %product-properties{'inline-template' => true}
    %div
      .row
        .col-lg-1
          .thumbnail
            = image_tag @presenter.image_url
        .col-lg-11.valign
          %h4
            = @presenter.product_title
          .internal-title{ref: 'internalTitleData', data: { product_id: @presenter.product_id, title: @presenter.internal_title }}
            %input.form-control.width-500{placeholder: 'Internal Title Here',  '@blur': 'saveTitle', '@keyup.13': 'saveTitle', "v-model": 'internalTitle'}
          .product-checkboxes
            = bootstrap_form_for @presenter.product, html: { ref: 'productAvailabilitiesForm' } do |f|
              .product-zones
                = f.collection_check_boxes :zone_ids, Zone.all, :id, :name, inline: true, multiple: true, label: 'Zones:', "@change" => "showConfirmation"
              .product-active
                = f.check_box :is_active, label: 'Active', "@change" => "showConfirmation"
              %form-confirmation{":is-hidden" => "!showFormConfirmation", "v-on:form-confirmed" => "submitCheckboxesForm", "v-on:form-cancelled" => "cancelCheckboxesForm"}
      .row
        .col-sm-8.col-md-6.col-lg-4
          .panel.panel-default
            .panel-heading
              Product information
            .panel-body
              %table.model-fields.full-width
                %tr
                  %td Seller SKU:
                  %td= @presenter.seller_sku
                %tr
                  %td ASIN:
                  %td= @presenter.asin
                %tr
                  %td FNSKU:
                  %td
                    = link_to @presenter.fnsku, product_barcode_path(@presenter.product_id, format: 'pdf')
                %tr
                  %td Size:
                  %td= @presenter.product_size
                %tr
                  %td Items per case:
                  %td= editable_integer @presenter.product, :items_per_case, input_options: { min: 0 }
                %tr
                  %td Case:
                  %td
                    = link_to 'Print', product_case_label_path(@presenter.product_id, format: 'pdf')
                    case label
                %tr
                  %td List Price:
                  %td= number_to_currency @presenter.list_price_amount
                %tr
                  %td Selling Price:
                  %td= number_to_currency @presenter.selling_price
                %tr
                  %td Fee:
                  %td= editable_price @presenter.product, :fee
                %tr
                  %td Ranking:
                  %td= @presenter.sales_rank

        .col-sm-8.col-md-6.col-lg-4
          .panel.panel-default
            .panel-heading
              Production settings
            .panel-body
              %table.model-fields.full-width
                %tr
                  %td Production buffer (days):
                  %td= editable_integer @presenter.product, :production_buffer_days, input_options: { min: 0 }
                %tr
                  %td Batch minimum:
                  %td= editable_integer @presenter.product, :batch_min_quantity, input_options: { min: 0 }
                %tr
                  %td Batch maximum:
                  %td= editable_integer @presenter.product, :batch_max_quantity, input_options: { min: 0 }
                - @presenter.inventory_item_presenters.each do |ii_presenter|
                  - unless ii_presenter.in_ship_zone?
                    %tr
                      %td
                        = zone_label ii_presenter.zone
                        units per minute:
                      %td= editable_integer ii_presenter.inventory_item, :production_units_per_minute, input_options: { min: 0, class: 'xsmall' }
                    %tr
                      %td
                        = zone_label ii_presenter.zone
                        setup time (minutes):
                      %td= editable_integer ii_presenter.inventory_item, :production_setup_minutes, input_options: { min: 0, class: 'xsmall' }
