$almost_black: #333;
$gray: #999;
$mid-gray: #bbb;
$light-gray: #f5f5f5;
$red: #F54E49;

$blue:       #2266AC;
$light-blue: lighten($blue, 20%);
$link-blue:  #337ab7;

$mid-cyan:   #5bc0de;
$dark-cyan:  darken($mid-cyan, 15%);
$light-cyan: lighten($mid-cyan, 15%);

$light-green:  #E1F4CB;
$light-yellow: #DFF3F6;
$light-violet: #E5C6EF;

$urgency-red:    #F54E49; // red
$urgency-yellow: #f0ad4e; // #FFDF00
$urgency-green:  #5cb85c; // #00AD00

$zone-make: #F54E49;  // #d9534f
$zone-pack: #f0ad4e;
$zone-ship: #5bc0de;
$zone-fba:  #5bc0de;  // #A367DE


@mixin clickable-text {
  color: $almost_black;
  text-decoration: none;
  border-bottom: 1px dashed $almost_black;;
  &:hover {
    color: $almost_black;
    text-decoration: none;
    background-color: #C9E5FF;
    cursor: pointer;
  }
}
