= page_header "Name & email", icon: 'user'

.row
  .col-lg-4.col-md-6.col-sm-6
    = bootstrap_form_for [:admin, user], label_errors: true do |f|
      .control-group
        = f.text_field :first_name

      .control-group
        = f.text_field :last_name

      .control-group
        = f.text_field :email

      .control-group
        .user-zones
          = f.collection_check_boxes :zone_ids, zones, :id, :name, inline: true, multiple: true, label: 'Zones: '

      -if current_user.admin?
        .control-group
          = price_field f, :labour_rate, label: 'Hour rate'

      .control-group
        = f.check_box :is_active

      = form_actions(f)

-if user == current_user
  = page_header "Change password", icon: 'lock'
  .row
    .col-lg-4.col-md-6.col-sm-6
      = bootstrap_form_for([:admin, user]) do |f|
        .field
          = f.email_field :email, autofocus: true
        .field
          = f.password_field :password, autocomplete: "off", help: "(leave blank if you don't want to change it)"
        .field
          = f.password_field :password_confirmation, autocomplete: "off"
        .field
          = f.password_field :current_password, autocomplete: "off", help: "(we need your current password to confirm your changes)"
        .actions
          = form_actions(f)
