%tr{ :class => highlight_helper(user, current_user) }
  -if current_user.admin?
    %td= link_to 'Edit', edit_admin_user_path(user)
  %td= user.full_name
  %td= user.email
  %td.text-left
    - user.zones.each do |zone|
      = zone_label(zone)
  -if current_user.admin?
    %td= number_to_currency user.labour_rate
