= page_header do
  = link_to 'New user', new_admin_user_path, class: 'btn btn-sm btn-primary pull-right'
  %h1
    %i.fa.fa-user.fa-fw
    Active Users

.row
  .col-lg-12
    = index_table 'users-index' do
      %thead
        %tr
          -if current_user.admin?
            %th
          %th Name
          %th Email
          %th Zones
          -if current_user.admin?
            %th Hour rate
      %tbody
        = render partial: "user", collection: active_users

%br
= page_header "Inactive Users", icon: 'user-secret'
.row
  .col-lg-12
    = index_table do
      %thead
        %tr
          %th
          %th
            Name
          %th
            Email
          %th
            Zones
      %tbody
        = render partial: "user", collection: inactive_users

