= bootstrap_form_for presenter.material, label_errors: true do |f|
  = hidden_field_tag "page", "edit_sizes"

  = f.nested_fields_for :ordering_sizes do |ff|
    .row
      .col-md-3.col-xs-6.control-group
        = ff.text_field :name, hide_label: true, placeholder: "Name", class: 'size-name',
          prepend: ff.remove_nested_fields_link
      .col-md-2.col-xs-3.control-group
        = ff.number_field :amount, hide_label: true, placeholder: '1', step: 0.01, class: 'size-amount'
      .col-md-2.col-xs-3.control-group
        = ff.collection_select :unit_id, presenter.units_compatible, :id, :name,
          { hide_label: true }, { class: 'size-unit' }
  .row
    .col-xs-12
      = f.add_nested_fields_link :ordering_sizes do
        %i.fa.fa-plus-circle
        Add size

  .row
    .col-md-7
      = form_actions f
