= bootstrap_form_for presenter.material, label_errors: true, html: { class: 'material' } do |f|
  .row
    .col-lg-2.col-md-3.col-sm-6
      = f.collection_select :inventory_item_production_zone_id, presenter.zones_for_selection, :id, :name,
        label: "Zone *", selected: presenter.production_zone_id, include_blank: false

  .row
    .col-lg-4.col-md-6
      .control-group
        = f.text_field :name

    .col-lg-6.col-md-6
      .control-group
        = f.text_field :image_url, label: "Image URL"

  .row
    .col-lg-4.col-md-6
      .control-group
        = f.collection_select :category_id, presenter.categories_for_selection, :id, :name

  .row
    .col-lg-2.col-md-3.col-sm-4
      .control-group
        = f.collection_select :unit_id, presenter.units_for_selection, :id, :name, label: "Main unit", class: 'width-auto'
    .col-lg-2.col-md-3.col-sm-4
      .control-group
        = f.collection_select :ingredient_unit_id, presenter.units_for_selection, :id, :name, label: "Ingredient unit", class: 'width-auto'
    .col-lg-2.col-md-3.col-sm-4
      .control-group
        = f.number_field :unit_conversion_rate, step: 0.000000001,
          placeholder: presenter.default_unit_conversion_rate.to_s,
          label: "Conversion rate", help: "Leave blank to use the system default rate"

  %br
  %p Vendors
  = f.nested_fields_for :material_vendors do |ff|
    .row
      .col-lg-4.col-md-6.col-sm-6
        = ff.remove_nested_fields_link
        .control-group.vendor
          = ff.collection_select :vendor_id, presenter.vendors_for_selection, :id, :name, { hide_label: true }, { class: 'vendor' }
      .clo-lg-6.col-md-6.col-sm-6.control-group
        = ff.text_field :url, hide_label: true, placeholder: "Vendor page URL", class: 'vendor-url'
  .row
    .col-xs-12
      = f.add_nested_fields_link :material_vendors do
        %i.fa.fa-plus-circle
        Add vendor

  .row
    .col-lg-10.col-md-12
      = form_actions(f)
