.icon-and-info
  .image
    = link_or_text material_presenter.material, current_user.admin? do
      = image_tag material_presenter.image_url
  .info
    %p= link_or_text material_presenter.material, current_user.admin?, material_presenter.material_name
