.row.material-details-header
  .col-lg-2.col-sm-4.col-xs-6
    .thumbnail
      = image_tag material_presenter.image_url
  .col-lg-10.col-sm-8.col-xs-6.valign
    %h2
      = material_presenter.material_name
    %h4= zone_label(material_presenter.production_zone)
    %br

.row
  .col-md-12
    %ul.nav.nav-tabs
      = tab 'Details', material_path(material_presenter.material)
      = tab 'Forecast', material_forecasts_path(material_presenter.material)
      = tab 'Invoices', material_invoices_path(material_presenter.material)
      = tab 'Containers', material_containers_path(material_presenter.material)
      = tab 'Transactions', material_transactions_path(material_presenter.material)
      = tab 'Graph view', material_charts_path(material_presenter.material)
      = tab 'Media', material_attachments_path(material_presenter.material), link_options: { data: { no_turbolink: true } }
