= page_header "Material", icon: 'flask'

= render 'form', presenter: @presenter

.row.danger-zone
  .col-lg-4.col-md-5.col-sm-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to "Delete this Material", @presenter.material, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure? This material will disappear from all product ingredients."}
