= page_header do
  = link_to 'New', new_material_path, :class => 'btn btn-primary pull-right'
  %h1
    Materials Inventory

.row
  .col-lg-12
    %ul.nav.nav-pills.small
      %li{ class: @presenter.active_no_filter_css_class }
        = link_to "All", materials_path
      - @presenter.all_zones.each do |zone|
        %li{ class: @presenter.active_zone_css_class(zone) }
          = link_to zone.name, materials_path(zone_id: zone.id)
      - @presenter.all_categories.each do |category|
        %li{ class: @presenter.active_category_css_class(category) }
          = link_to category.name, materials_path(category_id: category.id)

    = index_table 'materials-inventory full-width' do
      %thead
        %th
        %th
        %th Name
        %th Vendors
        %th.width-150 Inventory Quantity
        %th Unit of Measure
        %th Unit Price
        %th
      %tbody
        -@presenter.material_presenters.each_with_index do |material_presenter, index|
          %tr.js-component{ data: { "inventory-item-id" => material_presenter.inventory_item_id } }
            %td.grey= index + 1
            %td= zone_label material_presenter.production_zone
            %td.text-left= link_to material_presenter.material_name, material_presenter.material
            %td= material_presenter.vendors_comma_separated
            %td= editable_decimal material_presenter.inventory, :quantity, options: {precision: 1}, input_options: { min: 0 }
            %td= material_presenter.unit_name
            %td= number_to_currency material_presenter.prime_cost
            %td= link_to 'Edit', edit_material_path(material_presenter.material)
