.row
  .col-lg-12
    = render 'messagebox'

.row.toolbox.unprintable
  .col-lg-12
    .group.js-filter
      %select.js-vendor.form-control
        %option{value: 'all'} All vendors
        - Vendor.ordered.each do |v|
          %option{value: v.id}= v.name

    .group.js-purchase-panel
      = link_to "Create Invoice", nil, class: "btn btn-primary js-create-invoice"

.row
  .col-lg-12
    = index_table 'materials-purchase' do
      %thead
        %th.checkbox-inside
          %input.large.unprintable.js-select-all{ type: :checkbox, name: :dummy }
        %th Name
        %th Vendors & lead time
        %th.width-70 Inventory
        %th.width-120 Demand
        %th.width-70 To purchase
        %th Unit
      %tbody
        - @presenters.each_with_index do |presenter, index|
          %tr{ data: { "material-id" => presenter.material_id, "vendor-ids" => presenter.vendor_ids } }
            %td.index.checkbox-inside
              %p= index + 1
              %input.large.unprintable{type: :checkbox, name: :dummy}
            %td= render 'material_as_icon_and_text', material_presenter: presenter
            %td
              - presenter.vendor_presenters.each do |vendor_presenter|
                %p= vendor_presenter.name_with_lead_time
            %td= integer_with_delimiter presenter.inventory_quantity
            %td
              = integer_with_delimiter presenter.demand
              = render 'inventory_items/demand_coverage_indicator', presenter: presenter.inventory_item_presenter
            %td
              .font-medium= integer_with_delimiter presenter.to_purchase
              -if presenter.pending_invoice?
                %span.label.label-info pending
              -elsif presenter.anything_to_purchase?
                .gray= number_to_currency presenter.to_purchase_cost
            %td= presenter.unit_name

