=render 'show_header', material_presenter: @presenter

.row.material-details
  .col-lg-4.col-md-6
    .panel.panel-default
      .panel-heading
        Details
        = link_to 'Edit', edit_material_path(@presenter.material), class: 'pull-right'
      .panel-body
        %table.model-fields.full-width
          %tr
            %td Category:
            %td= @presenter.category_name
          %tr
            %td Vendors:
            %td
              - @presenter.material_vendors.each do |material_vendor|
                %p
                  -if material_vendor.url.present?
                    = link_to material_vendor.vendor_name, material_vendor.url, target: '_blank'
                  -else
                    = material_vendor.vendor_name
          %tr
            %td Units of measure:
            %td= @presenter.units_with_rate
          %tr
            %td= "#{@presenter.unit_name} price"
            %td= number_to_currency @presenter.unit_price

  .col-lg-4.col-md-6
    .panel.panel-default.ordering-sizes
      .panel-heading
        Ordering sizes
        = link_to 'Edit', material_edit_sizes_path(@presenter.material), class: 'pull-right'
      .panel-body
        %ul.list-unstyled
          - @presenter.ordering_sizes.each do |ordering_size|
            %li= ordering_size.to_s

  .col-lg-4.col-md-6
    .panel.panel-default
      .panel-heading
        Inventory
      .panel-body
        %p= @presenter.inventory_quantity_with_unit
