<template>
<div class='in-place-editor'>
  <a href='javascript:;' @click='allowEdit' v-show='!contentEditable'>{{value}}</a>
  <div class='form-group' v-show='contentEditable'>
    <input min='0' v-model='value'
           @blur='onBlur' @keyup.enter='onEnter' 
           class='form-control' type='number'>
  </div>
</div>

</template>

<script>

export default {
  props: ['initialValue'],
  data: function() {
    return { 
      value: this.initialValue,
      contentEditable: false,
      submittingForm: false
    };
  },
  methods: {
    onEnter: function() {
      this.alreadyChangingValue = true
      this.submitChanges()
    },
    onBlur: function() {
      if (!this.alreadyChangingValue) {
        this.submitChanges()
      } else {
        this.alreadyChangingValue = false
      }
    },
    submitChanges: function() {
      this.contentEditable = false
      this.$emit('value-changed', this.value)
    },
    allowEdit: function() {
      this.contentEditable = true
    }
  }

}

</script>

<style>
.in-place-editor {
  display: inline;
  a {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed #333;
    display: inline;
  }

  form-group {
    margin: 0;
  }

  input {
    text-align: center;
  }
}
</style>
