<template>
  <div class="dropdown items-cases-selector pull-right">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      <span>{{selectedType.text}}</span>
      <span class="caret"/>
    </button>
    <ul class="dropdown-menu">
      <li v-for="type in availableTypes">
        <a href="javascript:;" @click='changeType(type.value)'>{{type.text}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['state', 'defaultType'],
  data: function() {
    return {
      availableTypes: [
        { value: 'items', text: 'Units' },
        { value: 'cases', text: 'Cases' }
      ],
      selected: this.defaultType
    }
  },
  computed: {
    selectedType: function() {
      return this.availableTypes.find( el => {
        return el.value == this.selected
      } )
    }
  },
  methods: {
    changeType: function(newType) {
      this.selected = newType
      this.$emit('shipment-type-change', newType)
    }
  }
}
</script>
