<template>
  <div class="icon-and-info">
    <div class="image">
      <link-or-text :condition='showLink' :url='product.url'>
        <img :src="product.image_url">
      </link-or-text>
    </div>
    <div class='info'>
      <link-or-text :condition='showLink' :text='product.name' :url='product.url'/>
      <p>FNSKU: {{product.fnsku}}</p>
      <p>Seller SKU: {{product.seller_sku}}</p>
      <p>Case: {{product.items_per_case}}</p>
    </div>
  </div>

</template>

<script>
import LinkOrText from '../../common/components/link_or_text.vue'

export default {
  props: ['product', 'isAdmin'],

  components: {
    'link-or-text': LinkOrText
  },
  data: function() {
    return {
      showLink: this.isAdmin
    }
  },
}
</script>
