<template lang="pug">
  div
    table.table.table-bordered.table-hover.index-table.product-list
      thead
        tr
          th.checkbox-inside
            input.large.js-select-all.unprintable(type='checkbox', name= 'dummy', @click='selectAll')
          th Product
          th.width-120 Days of cover
          th.width-120
            .zone-label.zone-pack Packed
          th.width-120
            .zone-label.zone-ship FBA total
          th.width-120(v-show='!showItems') Cases to ship
          th.width-120(v-show='showItems') Units to ship
          th.width-150.fba-allocation FBA Allocation
      tbody
        shipment-report-row(v-for="(report, index) in reports", :report= "report", :index="index", :display-type='shipmentType', :is-admin='isAdmin', :key="report.product_id", :selected-warehouse='selectedWarehouse')

    .reports-loader
      infinite-loading(:on-infinite="loadMoreReports", ref="infiniteLoading", spinner="circles")
</template>

<script>

import ShipmentReportRow from './shipment_report_row.vue'
import InfiniteLoading from 'vue-infinite-loading'

export default {
  props: ['reportsData', 'shipmentType', 'isAdmin', 'selectedWarehouse'],
  components: {
    ShipmentReportRow,
    InfiniteLoading
  },

  data: function() {
    return {}
  },
  watch: {
    reportsData() {
      this.reportsLoaded()
    }
  },
  computed: {
    showItems() {
      return this.shipmentType == 'items';
    },
    reports() {
      return this.reportsData.reports;
    }
  },
  methods: {
    loadMoreReports() {
      if (this.reportsData.couldFetchMore) {
        this.$emit('fetch-reports')
      } else {
        this.noMoreReports()
      }
    },
    reportsLoaded() {
      this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
     },
    noMoreReports() {
      this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
    },
    selectAll() {
      let selectedReports = this._reports.map( (report) => { report.selected = true; return report })
    },
  }
}
</script>
