<template lang="pug">
tr(:data-product-id='currentReport.product_id')
  td
    p {{index}}
    input.large.unprintable(type='checkbox', name='dummy', v-model='currentReport.selected')
  td
    product-image(:product='currentReport.product', :is-admin='isAdmin')
  td.font-large {{currentReport.days_of_cover }}

  td.font-large(v-show='showItems') {{ currentReport.packed_quantity }}
  td.font-large(v-show='showCases') {{ currentReport.packed_cases_quantity }}

  td.font-large {{currentReport.total_amazon_inventory}}

  td.font-large(v-show='showItems') {{currentReport.can_ship }}
  td.font-large(v-show='showCases') {{currentReport.can_ship_in_cases}}

  td(v-show='showItems')
    in-place-editor.font-large(:initial-value='currentReport.to_allocate_items_quantity', @value-changed='overrideItemsQuantity')
    span.fa.fa-refresh(v-show='currentReport.allocate_items', @click='refreshAllocations', :class="{ 'fa-spin': loading }")
    div(v-for='allocation in currentReport.items_fba_allocation')
      .warehouse(v-show='isAllocationVisible(allocation)', :class="{'inventory-not-enough': !allocation.inventory_enough}")
        span {{allocation.warehouse_name}}:
        span {{allocation.quantity}}
  td(v-show='showCases')
    in-place-editor.font-large(:initial-value='currentReport.to_allocate_cases_quantity', @value-changed='overrideCasesQuantity')
    span.fa.fa-refresh.unprintable(v-show='currentReport.allocate_cases', @click='refreshAllocations', :class="{ 'fa-spin': loading }")
    div(v-for='allocation in currentReport.cases_fba_allocation')
      .warehouse(v-show='isAllocationVisible(allocation)', :class="{ 'inventory-not-enough': !allocation.inventory_enough}")
        span {{allocation.warehouse_name}}:
        span {{allocation.quantity}}

</template>

<script>

import ProductImage from './product_image.vue'
import InPlaceEditor from './in_place_editor.vue'

export default {
  props: ['index', 'report', 'displayType', 'isAdmin', 'selectedWarehouse'],
  components: {
    'product-image': ProductImage,
    'in-place-editor': InPlaceEditor
  },

  data: function() {
    return {
      loading: false,
      currentReport: this.report
    }
  },

  computed: {
    showItems: function() {
      return this.displayType == 'items';
    },
    showCases: function() {
      return this.displayType == 'cases';
    },
  },
  methods: {
    isAllocationVisible: function(allocation) {
      if (this.selectedWarehouse.name == 'all') {
        return true;
      }

      return this.selectedWarehouse.name == allocation.warehouse_name;
    },
    refreshAllocations: function() {
      this.loading = true
      this.fetchAllocations()
        .then(() => {
          this.loading = false
        })
    },

    fetchAllocations: function() {
      let methodName = `to_allocate_${this.displayType}_quantity`
      let quantity = this.currentReport[methodName]
      let productId = this.currentReport.product_id
      let url = `/products/${productId}/fba_allocations?shipment_type=${this.displayType}&quantity=${quantity}`

      // show spinner during allocations loading
      this.currentReport[`allocate_${this.displayType}`] = true

      let self = this
      return this.$http.get(url)
        .then( response => {
          return self.updateReport(response.data)
        })
        .catch(error => {
          console.log(error)
          self.updateReport([])
        })
    },
    overrideItemsQuantity: function(newValue) {
      this.currentReport.to_allocate_items_quantity = newValue
      this.refreshAllocations()
    },
    overrideCasesQuantity: function(newValue) {
      this.currentReport.to_allocate_cases_quantity = newValue
      this.refreshAllocations()
    },
    updateReport: function(allocations) {
      if (this.showItems) {
        this.currentReport.items_fba_allocation = allocations;
        this.currentReport.allocate_items = allocations.length > 0
      }
      else {
        this.currentReport.cases_fba_allocation = allocations;
        this.currentReport.allocate_cases = allocations.length > 0
      }
    }
  }
}

</script>

<style>
.fa-refresh {
  cursor: pointer;
}

.inventory-not-enough {
  background: red;
}

</style>
