<template lang='pug'>
.shipment-panel
  select.form-control(v-model='shipmentType')
    option(value='new') New
    option(value='existing') Existing
  .shipment-input
    input.form-control.new-shipment(v-show='showNewShipment', v-model='newShipmentName')
    select.shipment-select.form-control(v-show='showExistingShipments && hasShipments', v-model='selectedShipment')
      option(v-for='shipment in activeShipments', :value='shipment')  {{shipment.name}}
    div.no-shipments(v-show='showExistingShipments && !hasShipments') No active shipments for {{warehouse.name}}
  a.btn.btn-primary(href='#', @click='ship', data-toggle='tooltip', data-placement='top', title='Ship selected products to the selected warehouse') {{shipMessage}}
</template>

<script>

import moment from 'moment'

export default {
  props: {
    activeShipments: {
      type: Array,
      default: []
    },
    warehouse: {
      type: Object,
      default: {}
    }
  },
  
  data: function() {
    return {
      shipmentType: 'new',
      selectedShipment: null,
      newShipmentName: '',
      hasShipments: this.activeShipments.length > 0
    }
  },
  computed: {
    showNewShipment: function() {
      return this.shipmentType == 'new'
    },
    showExistingShipments: function() {
      return this.shipmentType == 'existing'
    },
    shipMessage: function() {
      return this.warehouse.id ? `Ship Selected to ${this.warehouse.name}`
                                  : 'Ship Selected'
    }
  },

  watch: {
    activeShipments: function() {
      this.hasShipments = this.activeShipments.length > 0
      if (this.hasShipments) {
        this.selectedShipment = this.activeShipments[0].id
      }
    },
    warehouse() {
      this.newShipmentName = moment().format('YYYY/MM/D') + ` ${this.warehouse.name}`
    }
  },

  methods: {
    ship: function() {
      const newShipment = this.shipmentType == 'new'
      const shipmentName = newShipment ? this.newShipmentName : this.selectedShipment.name
      const shipmentId = newShipment ? null : this.selectedShipment.id
      this.$emit('shipped', {name: shipmentName, new: newShipment, id: shipmentId})
    }
  }
}

</script>

<style lang='scss' scoped>
  input[type="radio"] {
    display: none;
  }

  .shipment-panel {
    display: inline-flex;
  }

  .no-shipments {
    padding: 7px;
  }

  .new-shipment {
    width: 90%;
  }

  .shipment-input {
    input, select {
      margin: 0 15px;
    }

    select {
      padding: 0 15px;
    }
  }

</style>
