.icon-and-info
  .image
    = link_or_text product, current_user.admin? do
      = image_tag(product.small_image_url || '')
  .info
    %p= link_or_text product, current_user.admin?, product.name
    %p= "FNSKU: #{product.fnsku}"
    %p= "Seller SKU: #{product.seller_sku}"
