= page_header product_presenter.product_name, icon: 'barcode'

.row
  .col-md-12
    %ul.nav.nav-tabs
      = tab 'Properties', product_properties_path(product_presenter.product)
      = tab 'Inventory & Materials', product_inventory_path(product_presenter.product)
      = tab 'Tasks', product_tasks_path(product_presenter.product)
      = tab 'Batches', product_batches_path(product_presenter.product)
      = tab 'Notes', product_note_path(product_presenter.product), extra_active_paths: [edit_product_note_path(product_presenter.product)]
      = tab 'Media', product_attachments_path(product_presenter.product), link_options: { data: { no_turbolinks: true } }
