= page_header "Edit Category", icon: 'sitemap'

= render 'form', category: @category

.row.danger-zone
  .col-lg-4.col-md-5.col-sm-6
    .panel.panel-default
      .panel-heading.danger
        Danger zone
      .panel-body
        = link_to 'Delete this category', @category, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure? All materials in this category will be deleted'}
