= page_header do
  = link_to 'New', new_material_category_path, class: 'btn btn-primary pull-right'
  %h1
    %i.fa.fa-sitemap
    Material Categories

.row
  .col-lg-12
    = index_table 'category-list' do
      %thead
        %th Name
        %th
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td= link_to 'Edit', edit_material_category_path(category)
