%nav.navbar.navbar-default.navbar-static-top.unprintable{role: "navigation", style: "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand
      =link_to 'Kis Oils', root_path

  %ul.nav.navbar-nav.shortcuts
    %li.tasks{ class: active_if(current_path?(current_tasks_path)) }
      = icon_link_to 'Tasks', current_tasks_path, 'th-large'
    -if Zone.ship_zone
      %li.zone{ class: "zone-ship #{active_if_zone(Zone.ship_zone)}" }
        = link_to ship_product_reports_path do
          = zone_icon(Zone.ship_zone)
          Ship

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %i.fa.fa-user.fa-fw
          = current_user.nickname
          %i.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-user
          %li=link_to 'Logout', destroy_user_session_path, method: :delete

  .navbar-default.sidebar{role: "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        = sidebar_menu_parent "Tasks", 'th-list' do
          -if current_user.admin?
            - [Zone.make_zone, Zone.pack_zone].compact.each do |zone|
              %li.zone{ class: "zone-#{zone.slug}" }
                = link_to zone_tasks_path(zone) do
                  = zone_icon(zone)
                  = zone.name
          = sidebar_menu_item 'Current', 'th-large', current_tasks_path
          = sidebar_menu_item 'Finished', 'check-square', finished_tasks_path

        = sidebar_menu_parent("Production", "fort-awesome", planning_section?) do
          -if current_user.admin?
            = sidebar_menu_item "Planning", 'tasks', planning_make_path,
              extra_active_paths: [planning_pack_path, planning_workload_path]
          = sidebar_menu_item 'Batches', 'object-group', batches_path
          -if current_user.admin?
            - [Zone.make_zone, Zone.pack_zone].compact.each do |zone|
              %li.zone{ class: "zone-#{zone.slug}" }
                = link_to products_inventories_path(zone_id: zone.id) do
                  = zone_icon(zone)
                  = "#{zone.name} Inventory"

        -if Zone.ship_zone
          = sidebar_menu_parent "Shipment", "truck" do
            %li.zone.zone-ship
              = link_to ship_product_reports_path do
                %i.fa.fa-w.fa-truck
                Ship
            -if current_user.admin?
              = sidebar_menu_item 'Shipment in Progress', 'spinner', amazon_shipments_path(filter: 'amazon_processing')

        -if current_user.admin?
          = sidebar_menu_parent("Materials and Parts", "flask", materials_section?) do
            = sidebar_menu_item "Inventory", 'barcode', materials_path(inventory: true)
            = sidebar_menu_item "Purchase", 'shopping-cart', materials_path(purchase: true)
            = sidebar_menu_item "Invoices", 'file-text-o', invoices_path
            = sidebar_menu_item 'Vendors', 'users', vendors_path

        -if current_user.admin?
          = sidebar_menu_parent("Dashboard", "pie-chart") do
            = sidebar_menu_item "Inventory Health", 'stethoscope', reports_inventory_health_path
            = sidebar_menu_item "P&L", 'calculator', reports_profit_and_loss_path
          = sidebar_menu_parent("Administration", "wrench") do
            = sidebar_menu_item "Actions", 'sliders', admin_dashboard_index_path
            = sidebar_menu_item "Users", 'user', admin_users_path
            = sidebar_menu_item "Zones", 'cogs', admin_zones_path
            = sidebar_menu_item 'Units of Measure', 'tint', units_path
            = sidebar_menu_item 'Material Categories', 'sitemap', material_categories_path
            = sidebar_menu_item "Archived Products", 'archive', products_archives_path
            = sidebar_menu_item "Other Settings", 'wrench', admin_settings_path
