!!!
%html
  %head
    %title Kis Oils
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = action_cable_meta_tag
    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = page_specific_stylesheet_pack_tag
    = javascript_include_tag 'application_header', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      = render "shared/flash", flash: flash
      = render "layouts/navbar"
      #page-wrapper
        .js-message-boxes
        =yield
    = javascript_pack_tag 'common'
    = page_specific_javascript_pack_tag
    = javascript_include_tag 'application_bottom'
