!!!
%html
  %head
    %title Kis Oils
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true unless Rails.env.test?
    = stylesheet_pack_tag 'common', media: 'all'
    = javascript_include_tag 'application_header', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body#devise

    #wrapper
      %h2.brand Kis Oils
      =yield
    = javascript_pack_tag 'common'
    = javascript_include_tag 'application_bottom'
