%tr
  %td
    = link_to presenter.invoice, presenter.invoice
    = invoice_status presenter.invoice
  %td= presenter.invoice_date
  %td= presenter.vendor_name
  %td.text-left= presenter.external_name
  %td
    %p= presenter.container_form
    -unless presenter.in_material_units?
      %p= presenter.pkg_amount_in_pkg_units
    %p= presenter.amount_in_material_units
  %td= number_to_currency presenter.price
  %td= presenter.quantity
  %td= number_to_currency presenter.total_price
  %td.text-nowrap= number_to_currency presenter.material_unit_price
  %td.text-left= dynamics presenter.price_change_percent
  %td= presenter.lot_number
