%table.table.table-hover.index-table.full-width.invoice-items
  %thead
    %tr
      %th Invoice
      %th Date
      %th Vendor
      %th External name
      %th Ordering unit
      %th.width-100 Ordering unit price
      %th Quantity
      %th Total price
      %th Unit price
      %th Change
      %th Lot #
  %tbody
    -presenters.each do |presenter|
      = render 'invoice_item', presenter: presenter
